<h1>Analytics</h1>

<h2>Project Analytics</h2>
<ul class="tjh-accordion" data-auto-collapse="true" data-auto-open="false">
    <li>
        <h3 class="tjh-accordion-title" data-ng-click="fixScoutCountGraph()">
            <span class="fi-graph-trend"></span> Number of new Scout entries per month
        </h3>
        <div class="tjh-accordion-container">
            <div id="scoutCountPerMonth"></div>
        </div>
    </li>
    <li>
        <h3 class="tjh-accordion-title" data-ng-click="fixScoutCountGraph()">
            <span class="fi-graph-trend"></span> Number of killed Scouts per month
        </h3>
        <div class="tjh-accordion-container">
            <div id="scoutKilledPerMonth"></div>
        </div>
    </li>
    <li>
        <h3 class="tjh-accordion-title" data-ng-click="">
            <span class="fi-graph-trend"></span> Average time of progression (days)
        </h3>
        <div class="tjh-accordion-container">
            <ul class="button-group opco-filter row collapse">
                <li class="small-6 medium-3 columns" data-ng-repeat="status in statuses"><span class="button secondary" data-ng-click="selectStatusFilter(status)" data-ng-class="{'selected-filter': checkForFilterOn(status)}">{{status}}</span>
                </li>
            </ul>
            <div class="small-6 medium-4 columns">
                <div class="tile tile-stage">
                    <span class="tile-heading tile-StoA">Scout to Alpha</span>
                    <span class="tile-number">{{avgProLength.StoALength | number:0}}</span>
                </div>
                <!--end tile-->
            </div>
            <div class="small-6 medium-4 columns">
                <div class="tile tile-stage">
                    <span class="tile-heading tile-AtoB">Alpha to Beta</span>
                    <span class="tile-number">{{avgProLength.AtoBLength | number:0}}</span>
                </div>
                <!--end tile-->
            </div>
            <div class="small-6 medium-4 columns">
                <div class="tile tile-stage">
                    <span class="tile-heading tile-BtoL">Beta to Live</span>
                    <span class="tile-number"> {{avgProLength.BtoLLength | number:0}}</span>
                </div>
                <!--end tile-->
            </div>
        </div>
    </li>
    <li>
        <h3 class="tjh-accordion-title" data-ng-click="">
            <span class="fi-graph-trend"></span> Average length of a stage (days)
        </h3>
        <div class="tjh-accordion-container">
            <ul class="button-group opco-filter row collapse">
                <li class="small-6 medium-3 columns" data-ng-repeat="status in statuses"><span class="button secondary" data-ng-click="selectStatusFilter(status)" data-ng-class="{'selected-filter': checkForFilterOn(status)}">{{status}}</span>
                </li>
            </ul>
            <!-- | selectedFilter:filterStatusArray:'status' -->
            <div class="small-6 medium-4 columns">
                <div class="tile tile-stage tile-scout">
                    <span class="tile-heading">Scout</span>
                    <span class="tile-number"> {{avgStageLength.ScoutLength | number:0}}</span>
                </div>
                <!--end tile-->
            </div>
            <div class="small-6 medium-4 columns">
                <div class="tile tile-stage tile-alpha">
                    <span class="tile-heading">Alpha</span>
                    <span class="tile-number"> {{avgStageLength.AlphaLength | number:0}}</span>
                </div>
                <!--end tile-->
            </div>
            <div class="small-4 medium-4 columns">
                <div class="tile tile-stage tile-beta">
                    <span class="tile-heading">Beta</span>
                    <span class="tile-number"> {{avgStageLength.BetaLength | number:0}}</span>
                </div>
                <!--end tile-->
            </div>
        </div>
    </li>
    <li>
        <h3 class="tjh-accordion-title" data-ng-click="">
            <span class="fi-graph-trend"></span> Average time to go from scout to live (days)
        </h3>
        <div class="tjh-accordion-container">
            <ul class="button-group opco-filter row collapse">
                <li class="small-6 medium-3 columns" data-ng-repeat="status in statuses"><span class="button secondary" data-ng-click="selectStatusFilter(status)" data-ng-class="{'selected-filter': checkForFilterOn(status)}">{{status}}</span>
                </li>
            </ul>
            <div class="small-6 medium-3 columns">
                <div class="tile tile-stage">
                    <span class="tile-heading tile-StoL">Scout to Live</span>
                    <span class="tile-number"> {{avgProLength.StoLLength | number:0}}</span>
                </div>
                <!--end tile-->
            </div>
        </div>
    </li>
    <li>
        <h3 class="tjh-accordion-title" data-ng-click="">
            <span class="fi-graph-trend"></span> % of each OpCo in each stage
        </h3>
        <div class="tjh-accordion-container">
            <ul class="button-group opco-filter row collapse">
                <li class="small-6 medium-3 columns" data-ng-repeat="status in statuses"><span class="button secondary" data-ng-click="selectStatusFilter(status)" data-ng-class="{'selected-filter': checkForFilterOn(status)}">{{status}}</span>
                </li>
            </ul>
            <div class="small-12 medium-6 columns">
                <h3>Scout</h3>
                <div id="stagePercentPieScout"></div>
            </div>
            <div class="small-12 medium-6 columns">
                <h3>Alpha</h3>
                <div id="stagePercentPieAlpha"></div>
            </div>
            <div class="small-12 medium-6 columns">
                <h3>Beta</h3>
                <div id="stagePercentPieBeta"></div>
            </div>
            <div class="small-12 medium-6 columns">
                <h3>Live</h3>
                <div id="stagePercentPieLive"></div>
            </div>

        </div>
    </li>
    <li>
        <h3 class="tjh-accordion-title" data-ng-click="">
            <span class="fi-graph-trend"></span> Ratios
        </h3>
        <div class="tjh-accordion-container">
            <p class="largeParagraphs">This is a rough metric to show how much happens in scouting/alpha/beta to produce one live successful transformation.</p>
            <ul class="button-group opco-filter row collapse">
                <li class="small-6 medium-3 columns" data-ng-repeat="status in statuses"><span class="button secondary" data-ng-click="selectStatusFilter(status)" data-ng-class="{'selected-filter': checkForFilterOn(status)}">{{status}}</span>
                </li>
            </ul>
            <div class="small-6 medium-3 columns">
                <div class="tile tile-stage tile-scout">
                    <span class="tile-heading">Scout</span>
                    <span class="tile-number">{{analyticsRatio.Scout / analyticsRatio.Live | number:0}}</span>
                </div>
                <!--end tile-->
            </div>
            <div class="small-6 medium-3 columns">
                <div class="tile tile-stage tile-alpha">
                    <span class="tile-heading">Alpha</span>
                    <span class="tile-number"> {{analyticsRatio.Alpha /  analyticsRatio.Live | number:0}}</span>
                </div>
                <!--end tile-->
            </div>
            <div class="small-6 medium-3 columns">
                <div class="tile tile-stage tile-beta">
                    <span class="tile-heading">Beta</span>
                    <span class="tile-number">{{analyticsRatio.Beta /  analyticsRatio.Live | number:0}}</span>
                </div>
                <!--end tile-->
            </div>
            <div class="small-6 medium-3 columns">
                <div class="tile tile-stage tile-live">
                    <span class="tile-heading">Live</span>
                    <span class="tile-number">{{analyticsRatio.Live /  analyticsRatio.Live | number:0}}</span>
                </div>
                <!--end tile-->
            </div>
        </div>
    </li>

</ul>

<h2>Site Analytics - who's viewing what - {{ numberOnline }} online now</h2>
<ul class="tjh-accordion" data-auto-collapse="true" data-auto-open="false">
    <li>
        <h3 class="tjh-accordion-title" data-ng-click="fixSiteStatsGraph()">
            <span class="fi-graph-bar"></span> Page views
        </h3>
        <div class="tjh-accordion-container">
            <div class="row">
                <div class="small-4 columns hide-for-small-only">
                    <input type="text" class="datepicker" id="dateFromAnayltics" data-ng-model="dateFromSiteAnalytics" placeholder="date from" />
                </div>
                <div class="small-4 columns hide-for-small-only">
                    <input type="text" class="datepicker" id="dateToAnayltics" data-ng-model="dateToSiteAnalytics" placeholder="date to" />
                </div>
                <div class="small-4 columns hide-for-small-only">
                    <button data-ng-click="refreshSiteAnalyticsPageViews()">Update chart</button>
                    <button data-ng-click="resetSiteAnalyticsPageViews()">Reset</button>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <div id="siteStats"></div>
                    </div>
                </div>

            </div>
    </li>
    <li>
        <h3 class="tjh-accordion-title">
            <span class="fi-graph-bar"></span> Dashboard Users</h3>
        <div class="tjh-accordion-container">
            <div class="row">
                <div class="small-12 medium-8 columns">
                    <h3>Most Frequent Users</h3>
                    <table>
                        <thead>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Hits</th>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="user in popularUserList | orderBy:'-count'">
                                <td>{{ user.username }}</td>
                                <td>{{ user.fullName }}</td>
                                <td>{{ user.count }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="small-12 medium-4  columns">
                    <h3>Currently Online Users</h3>
                    <table>
                        <thead>
                            <th>Username</th>
                            <th>Name</th>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="user in onlineUsers track by $index | orderBy:'user'">
                                <td>{{ user.username }}</td>
                                <td>{{ user.name }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </li>
    <li>
        <h3 class="tjh-accordion-title">
            <span class="fi-monitor"></span> Traffic sources (by device)</h3>
        <div class="tjh-accordion-container">
            <div id="trafficSourcesPie"></div>
        </div>
    </li>
    <li>
        <h3 class="tjh-accordion-title">
            <span class="fi-graph-pie"></span> Site activity</h3>
        <div class="tjh-accordion-container">
            <div id="activtyPerOpco"></div>
        </div>
    </li>
</ul>
