<div class="news-container news-article">
    <a href="#/{{ article.page }}" class="button btn-back">{{ article.page }}</a>
    <img data-ng-src="/images/uploads/{{article.imageURL}}" />
    <div class="news-content">
        <h1>{{ article.title }}</h1>
        <p class="small date">{{ article.date | date:'d MMMM yyyy' }}</p>
        <div ng-bind-html="article.body | sanitize"></div>
    </div>
    <div class="article-sidebar">
        <span id="video-test"></span>
        <div class="article-options" data-ng-if="access === 5">
            <button class="btn-delete" data-reveal-id="confirmDelete">Delete article</button>
            <button class="btn-edit toggle-modal" data-ng-click="editArticleOpen(article)" data-toggle-modal="editArticle">Edit article</button>
        </div>
    </div>
</div>
<!--end news-container-->

<div id="editArticle" class="modal">
    <h1>Edit Article</h1>
    <form>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" placeholder="Title" data-ng-model="editNewsArticle.title">
        <label for="dateOfNews">Date</label>
        <input type="text" id="dateOfNews" class="datepicker" name="date" placeholder="Date" data-ng-model="editNewsArticle.selectDate">
        <label for="bodyContent">Body content</label>
        <textarea ckeditor="options" data-ng-model="editNewsArticle.body"></textarea>
        <button data-ng-click="editArticleSave()">Save</button>
    </form>
    <a class="close-modal">&#215;</a>
</div>

<div id="confirmDelete" class="reveal-modal tiny delete-modal" data-reveal>
    <p>Confirm delete?</p>
    <button class="btn-delete" data-ng-click="deleteArticle(article)">Delete</button>
    <button data-ng-click="closeDeleteModal()">Cancel</button>
    <a class="close-reveal-modal">&#215;</a>
</div>