<a href="#/Catapult" class="button btn-back backToSeismograph">Catapult</a>
<div>
    <h1>Catapult</h1>
    <p class="learnmore-description">A Catapult is a 6-8 week piece of work which aims to take a disruptive but systematic approach to modifying / reinventing current business practices. It is based on approaches, which exist already in accelerator and incubators circles, and is a tried
        and tested approach using ‘Design Thinking’, ‘Lean Start-up’ and Entrepreneurial concepts packaged into a ‘Catapult’.
    </p>
    </br>
    <p class="learnmore-description">It involves taking a “gang of 5” or less carefully selected individuals from across the OpCos, working full time on a selected business issue. The process would take the following format:
    </p>

    <ul class="catapults">
        <li>
            <span class="boldCatapult">Week 1 – Digital immersion. </span> Give the team a digital context and an understanding of the digital environment we will be operating in.
        </li>
        <li>
            <span class="boldCatapult"> Week 2 – Embrace the doomsday scenario.</span> Investigate all possible threats that come from current and future competitors in this area of our business.
        </li>
        <li>
            <span class="boldCatapult"> Week 3 – Clean Sheet Design. </span> Start with a clean sheet and build a design without legacy as a goal to work towards.
        </li>
        <li>
            <span class="boldCatapult"> Week 4 – Define Business Outcomes. </span> Start small and define the first business outcomes. Don't settle on financial projections, they can’t be accurate, and hamstring innovation, settle on core goals.
        </li>
        <li>
            <span class="boldCatapult">Week 5 – Alignment. </span> Get everyone on the same page, bringing in others around the gang of 5 (e.g. Heads of marketing, sales, distribution, finance). Week 6 – Fast Prototyping. Build a set of options and invest
            small amounts in each of them, think of the tests that would measure success and test lots of possibilities.
        </li>
        <li>
            <span class="boldCatapult">Week 6 – Fast Prototyping. </span> Build a set of options and invest small amounts in each of them, think of the tests that would measure success and test lots of possibilities.
        </li>
        <li>
            <span class="boldCatapult"> Week 7 – Demo.</span> Demo the prototypes and iterate the ideas.
        </li>
        <li>
            <span class="boldCatapult"> Week 8 – Examine & Embed.</span> Define a process that allows the transformation to continue to move forward rapidly.
        </li>

    </ul>

</div>
