<div class="page-heading">
    <h1>{{ pageTitle }}</h1>
    <button data-ng-click="saveAndClose()" class="btn-save">Save and Close</button>
    <button data-ng-click="cancel()" class="btn-cancel">Cancel</button>
    <button data-ng-click="addNewStage()" class="btn-add">Add Another Stage</button>
</div>
<!--end page heading-->

<div class="project edit-view row" data-ng-repeat="project in editProjectList | orderBy:['-stage','-projectStartDate'] | buttonSort:true" id="project-{{project._id}}">
    <div class="small-12 columns">
        <!--{{ (projectsList | filter:{reference:project.reference} | unique:'stage' ) .length }}-->


        <div class="heading row">
            <div class="source small-6 medium-3 large-1 columns" id="type-{{project._id}}">
                <select data-ng-model="project.type">
                    <option data-ng-repeat="typ in types" value="{{ typ }}" data-ng-selected="typ === project.type">{{ typ }}</option>
                </select>
            </div>
            <!--end source-->
            <!--<div class="opCo opCo-{{project.opCo | removeSpaces }} small-6 medium-3 large-2 columns" id="opCo-{{project._id}}">
                <select data-ng-model="project.opCo">
                    <option data-ng-repeat="opco in opcos" value="{{ opco }}" data-ng-selected="opco === project.opCo">{{ opco }}</option>
                </select>
            </div>-->
            <div class="small-6 medium-3 large-2 columns" isteven-multi-select input-model="project.opcosMultiSelect" output-model="project.opCo" button-label="name" item-label="name" tick-property="ticked" helper-elements="" style ="padding: 0">
            </div>
            <!--end opCo-->
            <div class="status small-6 medium-3 large-2 columns" id="status-{{project._id}}">
                <select data-ng-model="project.status">
                    <option value="Active" data-ng-selected="project.status === 'Active'">Active</option>
                    <option value="Progressed" data-ng-selected="project.status === 'Progressed'">Progressed</option>
                    <option value="Killed" data-ng-selected="project.status === 'Killed'">Killed</option>
                    <option value="Predicted" data-ng-selected="project.status === 'Predicted'">Predicted</option>
                </select>
            </div>
            <!--end status-->
            <div class="bg-{{ project.stage | lowercase }} stage small-6 medium-3 large-2 end columns" id="stage-{{project._id}}">
                <select data-ng-model="project.stage">
                    <option value="Scout" data-ng-selected="project.stage === 'Scout'">Scout</option>
                    <option value="Other1" data-ng-selected="project.stage === 'Other1'">Other</option>
                    <option value="Alpha" data-ng-selected="project.stage === 'Alpha'">Alpha</option>
                    <option value="Other2" data-ng-selected="project.stage === 'Other2'">Other</option>
                    <option value="Beta" data-ng-selected="project.stage === 'Beta'">Beta</option>
                    <option value="Other3" data-ng-selected="project.stage === 'Other3'">Other</option>
                    <option value="Live" data-ng-selected="project.stage === 'Live'">Live</option>
                </select>
            </div>
            <!--end stage-->
        </div>
        <!--end project heading-->
        <div class="body row">
            <div class="small-7 medium-9 large-10 columns">
                <h2><input id="title-{{project._id}}" type="text" name="title" placeholder="Title" data-ng-model="project.title" /></input></h2>
            </div>
            <div class="small-5 medium-3 large-2 columns">
                <select class="rag rag-{{ project.ragStatus }}" data-ng-model="project.ragStatus">
                    <option data-ng-repeat="rag in rags" value="{{ rag }}" data-ng-selected="rag === project.ragStatus">{{ rag }}</option>
                </select>
            </div>
            <!--end rag-->
        </div>
        <!--end body row-->
        <div class="body row">
            <div class="small-12 large-5 columns">
                <textarea name="description" rows="4" placeholder="Description" data-ng-model="project.description"></textarea>
                <div class="project-cat-select row">
                    <div class="small-3 columns">
                        <label for="right-label">Project Category</label>
                    </div>
                    <div class="small-9 columns">
                        <select data-ng-model="project.category">
                            <option value="Agile" data-ng-selected="project.category === 'Agile'">Agile and flexible organisation to drive innovation</option>
                            <option value="CI" data-ng-selected="project.category === 'CI'">CI & Customer centrtic approach</option>
                            <option value="Sales" data-ng-selected="project.category === 'Sales'">Profitable Sales</option>
                            <option value="Experience" data-ng-selected="project.category === 'Experience'">Customer Experience</option>
                            <option value="Operational" data-ng-selected="project.category === 'Operational'">Operational Efficiency</option>
                            <option value="Misc" data-ng-selected="project.category === 'Misc'">Misc</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--end project text-->
            <div class="small-12 large-7 columns">
                <div class="documents">
                    <h3>Project Documents</h3>
                    <form class="row">
                        <div class="small-6 medium-6 large-2 columns">
                            <input type="text" value="OneNote" disabled="disabled" />
                        </div>
                        <div class="small-6 medium-6 large-2 columns">
                            <input type="text" placeholder="OneNote URL" data-ng-model="project.oneNote" />
                        </div>
                        <div class="small-6 medium-6 large-2 columns">
                            <input type="text" id="document1Title-{{project._id}}" placeholder="Document 1" data-ng-model="project.document1Title" />
                        </div>
                        <div class="small-6 medium-6 large-2 columns">
                            <input type="text" id="document1Link-{{project._id}}" placeholder="Document 1 URL" data-ng-model="project.document1Link" />
                        </div>
                        <div class="small-6 medium-6 large-2 columns">
                            <input type="text" placeholder="Document 2" data-ng-model="project.document2Title" />
                        </div>
                        <div class="small-6 medium-6 large-2 columns">
                            <input type="text" placeholder="Document 2 URL" data-ng-model="project.document2Link" />
                        </div>
                    </form>
                </div>
                <!--end documents-->
                <div class="components">
                    <h3>Components</h3>
                    <div class="component-details row" data-ng-repeat="component in project.Component | dateFilter:dateFrom:dateTo:true">
                        <div class="small-4 columns">
                            <input type="text" placeholder="Component Name" data-ng-model="component.componentName" />
                        </div>
                        <div class="small-3 columns">
                            <input id="startDate-{{component._id}}" onclick="$(this).datepicker().datepicker('show')" type="text" name="startDate-{{component._id}}" class="datepicker" placeholder="Start date" data-ng-model="component.startDate" data-ng-click="checkDates(component._id)"
                            />
                        </div>
                        <div class="small-3 columns">
                            <input id="endDate-{{component._id}}" onclick="$(this).datepicker().datepicker('show')" type="text" name="endDate-{{component._id}}" class="datepicker" placeholder="End date" data-ng-model="component.endDate" data-ng-click="checkDates(component._id)"
                            />
                        </div>
                        <div class="small-2 columns">
                            <input type="text" id="compPercent-{{component._id}}" class="comp-percent" min="0" max="100" placeholder="% complete" data-ng-model="component.percentage" data-ng-hide=" project.stage === 'Scout' " />
                            <button class="btn-delete-comp" data-ng-click="deleteComponent(project, component._id)"><i class="fi-x"></i>
                            </button>
                        </div>
                    </div>
                    <!--end component details-->
                </div>
                <!--end components-->
            </div>
            <!--end components-->
        </div>
        <!--end project body-->
        <button class="btn-delete" data-ng-click="confirmDeleteProject(project._id)">Delete Stage</button>
        <!--       ng-click="deleteProject(project._id)"      -->
        <button class="btn-add" data-ng-click="addNewComponent(project)">Add Component</button>
    </div>
    <!--end initial column-->
</div>
<!--end project row-->
</div>
<div id="confirmDelete" class="reveal-modal tiny delete-modal" data-reveal>
    <p>Confirm delete?</p>
    <button class="btn-delete" data-ng-click="deleteProject(projectToDelete)">Delete</button>
    <button data-ng-click="closeDeleteModal()">Cancel</button>
    <a class="close-reveal-modal">&#215;</a>
</div>
