<h1> Events</h1>
<div class="row">
    <div class="small-12 large-9 columns">
        <div ui-calendar="uiConfig.calendar" class="span8 calendar" id="calendar" data-ng-model="eventSources"></div>
        <div class="row text-center small events-key">
            <div ng-class="{'event-cat-gray': !checkForFilterOn('cat-leave')}" ng-click="selectEventsFilter('cat-leave')" class="small-6 medium-2 columns end fc-event cat-leave" data-ng-if="access === 5 ">Leave</div>
            <div ng-class="{'event-cat-gray': !checkForFilterOn('cat-dbt')}" ng-click="selectEventsFilter('cat-dbt')" class="small-6 medium-2 columns end fc-event cat-dbt" data-ng-if="access === 5">DBT Team Activity</div>
            <div ng-class="{'event-cat-gray': !checkForFilterOn('cat-deadline')}" ng-click="selectEventsFilter('cat-deadline')" class="small-6 medium-2 columns end fc-event cat-deadline" data-ng-if="access === 5">Deadlines</div>
            <div ng-class="{'event-cat-gray': !checkForFilterOn('cat-stakeholder')}" ng-click="selectEventsFilter('cat-stakeholder')" class="small-6 medium-2 columns end fc-event cat-stakeholder" data-ng-if="access >= 3 ">Stakeholder</div>
            <div ng-class="{'event-cat-gray': !checkForFilterOn('cat-conf')}" ng-click="selectEventsFilter('cat-conf')" class="small-6 medium-2 columns end fc-event cat-conf">Ext. Conference/Event</div>
            <div ng-class="{'event-cat-gray': !checkForFilterOn('cat-internal')}" ng-click="selectEventsFilter('cat-internal')" class="small-6 medium-2 columns end fc-event cat-internal">Internal event</div>
        </div>
    </div>
    <!--col-->
    <div class="small-12 large-3 columns">
        <div id="viewEvent" class="row">
            <div class="small-12 columns" data-ng-hide="clickedEvent.title === ''">
                <h2>Event Details</h2>
                <p>{{clickedEvent.title}}</p>
                <p class="small date" data-ng-hide="clickedEvent.allDay">{{ clickedEvent.start._i | date:'d MMMM yyyy h:mm a'}} - {{ clickedEvent.end._i | date:'d MMMM yyyy h:mm a'}}</p>
                <p class="small date" data-ng-show="clickedEvent.allDay">{{ clickedEvent.start._i | date:'d MMMM yyyy'}} - {{ clickedEvent.displayEndDate | date:'d MMMM yyyy'}}</p>
                <p>{{clickedEvent.description}}</p>
                <p>{{ clickedEvent.creator }}</p>
                <button class="btn-delete" data-ng-click="confirmDeleteEvent(clickedEvent)" data-ng-if="access === 5">Delete</button>
                <button class="btn-edit" data-ng-click="editEventModalOpen(clickedEvent) " data-ng-if="access === 5" data-ng-show="editMode" data-reveal-id="editEventModal">Edit</button>
            </div>
            <!--col-->
        </div>
        <!--row-->
        <div id="addEventForm" class="row" data-ng-hide="access !== 5">
            <div class="small-12 columns">
                <h2>Add event</h2>
                <div class="alert-box alert" data-ng-if="addEventError">Please check your dates/times</div>
            </div>
            <div class="small-12 columns">
                <label for="event-title">Event title</label>
                <input type="text" id="event-title" data-ng-model="eventTitle">
            </div>
            <div class="small-12 columns">
                <label for="allDayCheckBox">All Day?</label>
                <div class="switch toggle-switch">
                    <input id="allDayCheckBox" type="checkbox" ng-model="allDay">
                    <label for="allDayCheckBox"></label>
                </div>
            </div>
            <div class="small-12 columns">
                <label>Event Start</label>
                <input type="text" id="dateFrom" class="datepicker" data-ng-model="datePickerStart">
                <input id="timepickerStart" type="text" class="time ui-timepicker-input" data-ng-model="timePickerStart" data-ng-hide="allDay">
            </div>
            <div class="small-12 columns">
                <label>Event End</label>
                <input type="text" id="dateTo" class="datepicker" data-ng-model="datePickerEnd">
                <input id="timepickerEnd" type="text" class="time ui-timepicker-input" data-ng-model="timePickerEnd" data-ng-hide="allDay">
            </div>
            <div class="small-12 columns">
                <label for="event-category">Category</label>
                <select id="event-category" data-ng-model="eventCategory">
                    <option value="cat-leave">Leave (DBT Team)</option>
                    <option value="cat-dbt">DBT Team Activity (DBT Team)</option>
                    <option value="cat-deadline">Deadlines (DBT Team)</option>
                    <option value="cat-stakeholder">Stakeholder (Stakeholder)</option>
                    <option value="cat-conf">External Conferences & Events (OpCo)</option>
                    <option value="cat-internal">Internal event (OpCo)</option>
                </select>
            </div>
            <div class="small-12 columns">
                <label for="eventDescription">Description</label>
                <textarea id="eventDescription" rows="4" name="eventDescription" data-ng-model="eventDescription"></textarea>
            </div>
            <div class="small-12 columns">
                <button class="btn-add" data-ng-click="addEvent()" data-ng-if="access === 5">Add</button>
            </div>
        </div>
    </div>
    <!--col-->
</div>
<!--row-->

<div id="editEventModal" class="reveal-modal" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <div id="editEventForm" data-ng-hide="access !== 5">
        <div class="row">
            <div class="small-12 columns">
                <h2>Edit event</h2>
                <div class="alert-box alert" data-ng-if="editEventError">Please check your dates/times</div>
            </div>
            <div class="small-8 columns">
                <label for="event-title">Event title</label>
                <input type="text" id="event-title" data-ng-model="editEvent.title">
            </div>
            <div class="small-4 columns">
                <label for="event-allDay">All Day?</label>
                <div class="switch toggle-switch">
                    <input id="editAllDayCheckBox" type="checkbox" ng-model="editEvent.allDay">
                    <label for="editAllDayCheckBox"></label>
                </div>

            </div>
            <div class="small-12 columns">
                <div class="row">
                    <div class="small-3 columns">
                        <label>Event start date</label>
                        <input type="text" id="editDateFrom" class="datepicker" data-ng-model="editEvent.startDate">
                    </div>
                    <div class="small-3 columns" data-ng-hide="editEvent.allDay">
                        <label>Event start time</label>
                        <input id="editTimepickerStart" type="text" class="time ui-timepicker-input" data-ng-model="editEvent.startTime">
                    </div>
                    <div class="small-3 columns">
                        <label>Event end date</label>
                        <input type="text" id="editDateTo" class="datepicker" data-ng-model="editEvent.endDate">
                    </div>
                    <div class="small-3 columns" ng-hide="editEvent.allDay">
                        <label>Event end time</label>
                        <input id="editTimepickerEnd" type="text" class="time ui-timepicker-input" data-ng-model="editEvent.endTime">
                    </div>
                </div>
            </div>
            <div class="small-12 columns">
                <label for="event-category">Category</label>
                <select id="event-category" data-ng-model="editEvent.category">
                    <option data-ng-selected="editEvent.category === 'cat-leave'" value="cat-leave">Leave (DBT Team)</option>
                    <option data-ng-selected="editEvent.category === 'cat-dbt'" value="cat-dbt">DBT Team Activity (DBT Team)</option>
                    <option data-ng-selected="editEvent.category === 'cat-deadline'" value="cat-deadline">Deadlines (DBT Team)</option>
                    <option data-ng-selected="editEvent.category === 'cat-stakeholder'" value="cat-stakeholder">Stakeholder (Stakeholder)</option>
                    <option data-ng-selected="editEvent.category === 'cat-conf'" value="cat-conf">External Conferences & Events (OpCo)</option>
                    <option data-ng-selected="editEvent.category === 'cat-internal'" value="cat-internal">Internal event (OpCo)</option>
                </select>
            </div>
            <div class="small-12 columns">
                <label for="eventDescription">Description</label>
                <textarea id="eventDescription" rows="6" name="eventDescription" data-ng-model="editEvent.description"></textarea>
            </div>
            <div class="small-12 columns">
                <button ng-click="updateEvent(editEvent)" data-ng-if="access === 5">Update</button>
            </div>
        </div>
        <!--row-->
    </div>
</div>
<!-- end edit event modal -->
<div id="confirmDelete" class="reveal-modal tiny delete-modal" data-reveal>
    <p>Confirm delete?</p>
    <button class="btn-delete" data-ng-click="deleteEvent(clickedEvent)">Delete</button>
    <button data-ng-click="closeDeleteModal()">Cancel</button>
    <a class="close-reveal-modal">&#215;</a>
</div>