<h1>Golden Rules</h1>
<p class="largeParagraphs">A key set of abiding principles to increase the agility and velocity of our digital transformation.</p>
<ul class="goldenrules">
    <li data-reveal-id="modal" ng-click="goldenRulesModal('Cloud First')">
        Cloud first
    </li>
    <li data-reveal-id="modal" ng-click="goldenRulesModal('Identity and entitlement as a service')">
        Identity and entitlement as a service
    </li>
    <li data-reveal-id="modal" ng-click="goldenRulesModal('Expose your data')">
        Expose your data
    </li>
    <li data-reveal-id="modal" ng-click="goldenRulesModal('Maintain a headless (API) architecture')">
        Maintain a headless (API) architecture
    </li>
    <li data-reveal-id="modal" ng-click="goldenRulesModal('Treat every pixel as an interactive pixel')">
        Treat every pixel as an interactive pixel
    </li>
    <li data-reveal-id="modal" ng-click="goldenRulesModal('Services and systems must only communicate through web services')">
        Services and systems must only communicate through web services
    </li>
    <li data-reveal-id="modal" ng-click="goldenRulesModal('Services must all be externalisable')">
        Services must all be externalisable
    </li>
    <li data-reveal-id="modal" ng-click="goldenRulesModal('Snap back to a high efficiency model')">
        Snap back to a high efficiency model
    </li>
    <li data-reveal-id="modal" ng-click="goldenRulesModal('Set transformational targets')">
        Set transformational targets
    </li>

</ul>

<div id="modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3 id="modalTitle" style="font-weight: bold;">{{ title }}</h3>
    <p class="large"> {{ description }}</p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
