<div class="tagline">
    <h1>Digital Business Transformation</h1>
    <p>Inspire. Innovate. Transform.</p>
</div>
<div class="row uncollapse" data-ng-if="access >= 2">
    <div class="small-6 medium-3 columns">
        <div class="tile tile-stage tile-scout">
            <a href="#/projects/Scout">
                <span class="tile-heading">Scout</span>
                <span class="tile-number">{{ SABLO.Scout }}</span>
            </a>
            <a href="#/stages" class="tile-footer">Learn more</a>
        </div>
        <!--end tile-->
    </div>
    <!--end col-->
    <div class="small-6 medium-3 columns">
        <div class="tile tile-stage tile-alpha">
            <a href="#/projects/Alpha">
                <span class="tile-heading">Alpha</span>
                <span class="tile-number">{{ SABLO.Alpha }}</span>
            </a>
            <a href="#/stages" class="tile-footer">Learn more</a>
        </div>
        <!--end tile-->
    </div>
    <!--end col-->
    <div class="small-6 medium-3 columns">
        <div class="tile tile-stage tile-beta">
            <a href="#/projects/Beta">
                <span class="tile-heading">Beta</span>
                <span class="tile-number">{{ SABLO.Beta }}</span>
            </a>
            <a href="#/stages" class="tile-footer">Learn more</a>
        </div>
        <!--end tile-->
    </div>
    <!--end col-->
    <div class="small-6 medium-3 columns">
        <div class="tile tile-stage tile-live">
            <a href="#/projects/Live">
                <span class="tile-heading">Live</span>
                <span class="tile-number">{{ SABLO.Live }}</span>
            </a>
            <a href="#/stages" class="tile-footer">Learn more</a>
        </div>
        <!--end tile-->
    </div>
    <!--end col-->
    <div class="small-12 large-6 columns">
        <div class="tile tile-events hasContent">
            <a href="#/Events">
                <span class="tile-heading">Events</span>
            </a>

            <ul id="events-carousel" class="owl-carousel owl-theme carousel">
                <li data-ng-repeat="event in eventsList  | orderBy: 'start' | eventCarouselFilter | limitTo:5" data-ng-click="openEventPage(event)">

                    <div class="row">

                        <div class="xsmall-12 small-3 columns event-date">
                            <p> {{ event.start | date:'d'}}</p>
                            <p> {{ event.start | date:'MMMM'}}</p>
                        </div>
                        <!--col-->
                        <div class="xsmall-12 small-9 columns event-details">
                            <p> {{ event.title }}</p>
                            <p> {{ event.description | firstParagraph }}</p>
                        </div>
                        <!--col-->
                    </div>
                    <!--row-->
                </li>
            </ul>
        </div>
        <!--end tile-->
    </div>
    <!--end col-->
    <div class="small-12 large-6 columns">
        <div class="tile tile-blogs hasContent">
            <a href="#/Seismograph">
                <span class="tile-heading">Seismograph</span>
            </a>
            <ul id="blogs-carousel" class="owl-carousel owl-theme carousel">
                <li class="news-carousel" data-ng-repeat="news in newsList |filter:{page:'Seismograph'} | slice:0:5" data-back-img="{{news.imageURL}}">
                    <a href="#/Seismograph">
                        <span>{{ news.title }}</span>
                    </a>
                </li>
            </ul>

        </div>
        <!--end tile-->
    </div>
    <!--end col-->
    <div class="small-6 medium-6 large-3 columns">
        <div class="tile tile-img">
            <a href="#/Wire">
                <span class="tile-heading">On the Wire <span class="newArticle" data-ng-if="newArticle == true">New</span></span>
                <img src="images/icon-onTheWire.png" alt="On The Wire" width="200" height="200" />
            </a>
        </div>
        <!--end tile-->
    </div>
    <!--end col-->

    <div class="small-6 medium-6 large-3 columns">
        <div class="tile tile-img">
            <a href="#/Catapult">
                <span class="tile-heading">Catapult</span>
                <img src="images/icon-catapult.png" alt="Catapult" width="200" height="200" />
            </a>
        </div>
        <!--end tile-->
    </div>
    <!--end col-->
    <div class="small-6 medium-6 large-3 columns">
        <div class="tile tile-img">
            <a href="#/innovationTool">
                <span class="tile-heading">Innovation Tool</span>
                <img src="images/icon-innovationTool.png" alt="Innovation Tool" width="200" height="200" />
            </a>
        </div>
        <!--end tile-->
    </div>
    <!--end col-->
    <div class="small-6 medium-6 large-3 columns">
        <div class="tile tile-img">
            <a href="#/listeningPost">
                <span class="tile-heading">Listening Post</span>
                <img src="images/icon-listeningPost.png" alt="Listening Post" width="200" height="200" />
            </a>
        </div>
        <!--end tile-->
    </div>
    <!--end col-->
</div>
<!-- end row-->
<div data-ng-if="access === 0">
    <p>You have not verified your email address. Please check your email and click on the verification link to activate your account.</p>
</div>
<div id="footer" class="row">
    <div class="small-12 medium-4 columns">
        <p>&copy; 2015 International Airlines Group</p>
    </div>
    <div class="small-12 medium-8 columns hide-for-small-only">
        <ul>
            <li data-ng-if="access >= 2">
                <a href="#/goldenRules">Golden Rules </a>
            </li>
            <li data-ng-if="access === 5">
                <a href="/admin">Admin</a>
            </li>
            <li data-ng-if="access == 5">
                <a href="#/projects/Other">Other</a>
            </li>
            <li data-ng-if="access >= 3">
                <a href="#/stakeholder">Stakeholder</a>
            </li>
            <li data-ng-if="access >= 3">
                <a href="#/analytics">Analytics</a>
            </li>
        </ul>
    </div>
</div>
<!--end footer-->

<div id="newUserModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" data-options="close_on_background_click:false">
    <h2 id="modalTitle">You are a new user...</h2>
    <p class="lead">Please provide us with more details about yourself.</p>
    <form name="opco-details">
        <label for="forename">Forename</label>
        <input type="text" placeholder="Forename" id="forename" name="forename" />
        <label for="surname">Surname</label>
        <input type="text" placeholder="Surname" id="surname" name="surname" />
        <label for="opcos">OpCo</label>
        <select id="opcos">
            <option value="Avios">Avios</option>
            <option value="British Airways">British Airways</option>
            <option value="IAG">IAG</option>
            <option value="IAG Cargo">IAG Cargo</option>
        </select>
        <a href="" class="button modal-close" onclick="return validateForm();">Submit</a>
    </form>

</div>
