<h1 class="pageTitle">Innovation Tool</h1>
<p class="largeParagraphs">We want to capture the ideas from around the business to help shape and progress them in to new fantastic innovative products and services. The innovation tool will sit across all OpCos as THE place to capture and funnel potential into meaningful business and customer transformations.</p>
<img src="images/innovationTile.jpg" alt="Innovation Tool" id="innovationTool" />