<h1>Listening Post</h1>
<p class="largeParagraphs"> Groups, organisations and bodies who form part of our network to keep abreast of the very latest news and insight.</p>
<img src="images/listeningPost.png" alt="Listening Post diagram" id="listeningPost" />

<h1>Human API</h1>
<p class="largeParagraphs">The Human API principle is about harnessing the speed and power of the network to innovate. It’s about connecting the best ideas and talent inside and out, being able to leverage the scale and structure of IAG to accelerate exploitation. Look out for
    more on this soon. In the meantime here’s our own team network.</p>
<img src="images/humanAPI.png" alt="Human API diagram" id="humanAPI" />