<div class="news-container">
    <div data-ng-if="mobile">
        <div class="twitter panel callout small-12 columns" data-ng-if="pageURL == 'Wire'">
            <h1>Stay up to date by following the team on Twitter</h1>
            <div class="twitter-handle">
                <a href="http://twitter.com/holapostergirl " target="_blank">
                    <img src="/images/twitter-ana.jpg" alt="Ana" width="100" height="100" /><span class="hide-for-small">@holapostergirl</span>
                </a>
                <p>Ana Hidalgo</p>
            </div>
            <div class="twitter-handle">
                <a href="http://twitter.com/andyq" target="_blank">
                    <img src="/images/twitter-andy.jpg" alt="Andy" width="100" height="100" /><span class="hide-for-small">@andyq</span>
                </a>
                <p>Andy Qua</p>
            </div>
            <div class="twitter-handle">
                <a href="http://twitter.com/dvisionj" target="_blank">
                    <img src="/images/twitter-dan.jpeg" alt="Dan" width="100" height="100" /><span class="hide-for-small">@dvisionj</span>
                </a>
                <p>Dan Jobling</p>
            </div>
            <div class="twitter-handle">
                <a href="http://twitter.com/dakarmoto" target="_blank">
                    <img src="/images/twitter-glenn.jpeg" alt="Glenn" width="100" height="100" /><span class="hide-for-small">@dakarmoto</span> 
                </a>
                <p>Glenn Morgan</p>
            </div>
            <div class="twitter-handle">
                <a href="http://twitter.com/featureangles" target="_blank">
                    <img src="/images/twitter-stephen.jpg" alt="Stephen" width="100" height="100" /><span class="hide-for-small">@featureangles</span> 
                </a>
                <p>Stephen Scott</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">

            <div class="page-heading" data-ng-hide="pageNumber >= 2">
                <h1 data-ng-if="pageURL === 'Seismograph'">Seismograph</h1>
                <h1 data-ng-if="pageURL === 'Wire'">On The Wire</h1>
                <h1 data-ng-if="pageURL === 'Catapult'">Catapult</h1>
                <button class="toggle-modal btn-add" data-toggle-modal="addNews" data-ng-click="addNewsButton()" data-ng-if="access === 5">Add {{ pageURL }} item</button>
                <p class="large" data-ng-if="pageURL === 'Seismograph'">The disruption Seismograph is an early warning system to spot and respond early to disruption by scouting the technology and digital industry. <a class="seismograph-learnmore" href="#/SeismographLearnMore">Learn more...</a></p>
                <p class="large" data-ng-if="pageURL === 'Wire'">Keep up to date with the latest prototypes and innovations.</p>
                <p class="large" data-ng-if="pageURL === 'Catapult'">The Catapult is aimed at enabling us to think big, act small, learn fast and deliver tangible business outcomes at a fraction of the cost. <a class="seismograph-learnmore" href="#/CatapultLearnMore">Learn more...</a></p>
            </div>
            <!--end page heading-->
        </div>
    </div>

    <div data-ng-hide="pageNumber >= 2">
        <div class="news-featured row">
            <div class="small-12 medium-6 columns" data-ng-repeat="news in newsList | filter:{page:pageURL} | slice:0:2">
                <a href="#/article/{{news._id}}">
                    <img data-ng-src="images/uploads/{{news.imageURL}}" alt="{{ news.imageURL }}" />
                </a>
                <a href="#/article/{{news._id}}"><h3>{{ news.title }}</h3></a>
                <p class="newsTeaser">
                    <span ng-bind-html="news.firstParagraph.valueOf() | limitTo: 300 | sanitize"></span>
                    <!--{{ news.firstParagraph | limitTo: 300 }}-->
                    <span data-ng-if="news.firstParagraph.valueOf().length > 300">...</span>
                </p>
                <p class="small date">{{ news.date | date:'d MMMM yyyy' }}</p>
            </div>
            <!--end column-->
        </div>
        <!--end row-->



        <div class="news-secondary row">
            <div class="small-12 medium-4 columns end" data-ng-repeat="news in newsList | filter:{page:pageURL} | slice:2:5">
                <a href="#/article/{{news._id}}">
                    <img data-ng-src="images/uploads/{{news.imageURL}}" alt="{{ news.imageURL }}" />
                </a>
                <a href="#/article/{{news._id}}"><h3>{{ news.title }}</h3></a>
                <p class="newsTeaser">
                    <span data-ng-bind-html="news.firstParagraph.valueOf() | limitTo: 250 | sanitize"></span>
                    <span data-ng-if="news.firstParagraph.valueOf().length > 250">...</span>
                </p>
                <p class="small date">{{ news.date | date:'d MMMM yyyy' }}</p>
            </div>
            <!--end column-->
        </div>
        <!--end row-->
    </div>


    <div class="news-archive row">
        <div class="small-8 columns">
            <h2>{{ pageURL }} Archive</h2>
        </div>
        <div class="small-4 columns news-pagination-numbers">
            <p>Items per page:
                <input type="number" min="1" max="100" class="form-control" data-ng-model="pageSize">
            </p>
        </div>
        <div class="small-12 columns">
            <div class="row" data-dir-paginate="news in newsList  | filter:{page:pageURL} | slice:5:newsList.length | itemsPerPage: pageSize ">
                <div class="small-12 medium-4 large-2 columns">
                    <a href="#/article/{{news._id}}">
                        <img data-ng-src="images/uploads/{{news.imageURL}}" alt="{{ news.imageURL }}" />
                    </a>
                </div>
                <!--col-->
                <div class="small-12 medium-8 large-10 columns">
                    <a href="#/article/{{news._id}}"><h3>{{ news.title }}</h3></a>
                    <p>
                        <span data-ng-bind-html="news.firstParagraph.valueOf() | limitTo: 200 | sanitize "></span>
                        <span data-ng-if="news.firstParagraph.valueOf().length > 200">...</span>
                    </p>
                    <p class="small date">{{ news.date | date:'d MMMM yyyy' }}</p>
                </div>
                <!--col-->

            </div>
            <!-- row-->
            <dir-pagination-controls class="news-pagination" on-page-change="changePage(newPageNumber)" template-url="js/libs/dirPagination.tpl.html"></dir-pagination-controls>

        </div>
        <!--end column-->
    </div>


    <!--end row-->
</div>
<!--end news container-->

<div id="addNews" class="modal">
    <a class="close-modal close-reveal-modal">&#215;</a>
    <h2>Add {{ pageURL }} item</h2>
    <form>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" placeholder="Title" data-ng-model="newNews.title">
        <label for="dateOfNews">Date</label>
        <input type="text" id="dateOfNews" class="datepicker" name="date" placeholder="Date" data-ng-model="newNews.selectDate">
        <label for="bodyContent">Body content</label>
        <textarea ckeditor="options" data-ng-model="newNews.body"></textarea>
        <p><bold>There must not be any spaces in image or video name! Also if the upload fails when re-uploading, make sure you change the file name!</bold></p>
        <label for="siofu_input">Image (630px x 405px)</label>
        <input type="file" id="siofu_input" name="imageURL">
        <label for="siofu_input_video">Video (optional) .mp4 only</label>
        <input type="file" id="siofu_input_video" name="videoURL">
        <button id="addArticleSave" data-ng-click="addArticleSave()">Save</button>
        <span ng-show="showPercentUploading">File is {{percentUploaded}} % uploaded</span>
    </form>


</div>
<!--modal-->

<div id="curtain" data-ng-click="toggleAddNewsModal()"></div>