<p>You are logged in as: {{ profile.username }}</p>
<div class="row">
    <div class="small-12 medium-8 large-4 medium-offset-2 large-offset-4 columns" ng-if="showChangeMyPass">
        <h2>Change my password</h2>
        <div id="alert-changePassword" data-alert class="alert-box alert" tabindex="0" aria-live="assertive" role="dialogalert">
            {{ changePasswordAlert }}
        </div>
        <form>
            <label for="currentPassword">Current password</label>
            <input type="password" id="currentPassword" data-ng-model="existing.password" />
            <label for="newPassword">New password</label>
            <input type="password" id="newPassword" data-ng-model="new.password" />
            <label for="confirmPassword">Confirm password</label>
            <input type="password" data-ng-model="confirm.password" />
            <input type="submit" class="button" data-ng-click="updatePassword()" />
        </form>
        
    </div>
</div>


