<div class="page-heading">
    <h1><h1><span ng-show="page">Total </span>{{ pageName }} - {{ (projectsList | selectedOpCoFilter:filterOpCoArray:'opCo' | selectedFilter:filterStageArray:'stage' | selectedFilter:filterRagArray:'ragStatus' | selectedFilter:filterTypeArray:'type'| selectedFilter:filterStatusArray:'status' | selectedFilter:filterCategoryArray:'category' | filter:percentageChoice:true | filter:search | dateFilter:dateFrom:dateTo:true).length }}</h1></h1>
    <button class="btn-download" data-ng-if="access >= 4" data-ng-hide="mobile" data-reveal-id="exportModal" data-ng-click="getDataForCsv(); createCsv()">Export</button>
    <a href="#/add" class="button btn-add" data-ng-if="access >= 4">Add New Project</a>
</div>
<!--end page heading-->

<div class="project row" dir-paginate="project in projectsList | orderBy:['-projectStartDate','opCo'] | selectedOpCoFilter:filterOpCoArray:'opCo' | selectedFilter:filterStageArray:'stage' | selectedFilter:filterRagArray:'ragStatus' | selectedFilter:filterTypeArray:'type'| selectedFilter:filterStatusArray:'status' | selectedFilter:filterCategoryArray:'category' | filter:percentageChoice:true | filter:search | dateFilter:dateFrom:dateTo:true | itemsPerPage: pageSize track by $index">
    <div class="small-12 columns ">
        <!--{{ (projectsList | filter:{reference:project.reference} | unique:'stage' ) .length }}-->
        <div class="timeline timeline-{{ (projectsList | filter:{reference:project.reference} | unique: 'stage').length }} row " data-ng-class="{ 'visible': project.TimelineVisible} ">

            <a href="" class="button timeline-{{projectButton.stage}} timeline-{{projectButton.status}} bg-{{ projectButton.stage | lowercase }} " data-ng-repeat="projectButton in projectsList | orderBy: 'projectStartDate'| filter:project.reference
| unique: 'stage' " data-ng-click="historyModal(projectButton) " data-reveal-id="historyModal "> <span data-ng-hide="projectButton.stage==='Other1' || projectButton.stage==='Other2' || projectButton.stage==='Other3'
">{{projectButton.stage}}</span><span data-ng-show="projectButton.stage==='Other1' || projectButton.stage==='Other2' || projectButton.stage==='Other3' ">Other</span> <span class="show-for-large-up ">- {{projectButton.projectStartDate | date:'MMM yyyy'}}</span>
            </a>
            <br>

            <div class="timeline-line "></div>
            <div class="timeline-line "></div>
            <div class="timeline-line "></div>
            <div class="timeline-line "></div>
            <div class="timeline-line "></div>
            <div class="timeline-line "></div>
        </div>
        <!--end timeline-->

        <div class="heading row ">
            <div class="source medium-3 large-2 columns end " data-ng-class="{ 'small-4': access <= 3 , 'small-6': access>=4 } " data-ng-if="access >= 4 ">
                {{ project.type }}
            </div>
            <!--end source-->
            <div class="opCo medium-3 large-2 columns end " data-ng-class="{ 'small-4': access <= 3 , 'small-6': access>=4 } ">
                <div ng-repeat="opco in project.opCo track by $index" class="columns opCos opCo-{{opco.name | removeSpaces}}" ng-style="{'width':100 / project.opCo.length+'%'}">
                    <img data-ng-src="images/logo-small-{{opco.name | removeSpaces}}.png" />
                </div>
            </div>
            <!--end opCo-->
            <div class="status medium-3 large-2 columns end " data-ng-class="{ 'small-4': access <= 3 , 'small-6': access>=4 } ">
                {{ project.status }}
            </div>
            <!--end status-->
            <div class="stage small-6 medium-3 large-1 columns end bg-{{ project.stage | lowercase }} " data-ng-if="access >= 4 " data-ng-click="project.TimelineVisible=! project.TimelineVisible ">
                Timeline
            </div>
            <!--end stage-->
            <div class="documents small-12 medium-12 large-5 columns end" data-ng-class="{ 'large-push-3': access < 4 }" data-ng-hide="mobile">
                <a data-ng-if="access >= 3  && project.oneNote.length " data-ng-href="{{project.oneNote }} " target="_blank ">OneNote</a>
                <a data-ng-if="project.document1Link.length " data-ng-href="{{project.document1Link }} " target="_blank ">{{ project.document1Title }}</a>
                <a data-ng-if="project.document2Link.length " data-ng-href="{{project.document2Link }} " target="_blank ">{{ project.document2Title }}</a>
            </div>
            <!--end documents-->
        </div>
        <!--end project heading-->
        <div class="body row ">
            <div ng-hide="mobile">
                <div class="small-12 columns ">
                    <h2 class="project-title">{{ project.title }} </h2>
                </div>
            </div>
             <div ng-if="mobile">
                <div class="small-12 medium-6 columns ">
                    <h2 class="project-title">{{ project.title }} </h2>
                </div>
            </div>
            <div class="documents small-12 medium-6 large-5 columns end" data-ng-class="{ 'large-push-3': access < 5 }" data-ng-if="mobile">
                <a data-ng-if="access >= 3 && project.oneNote.length " data-ng-href="{{project.oneNote }} " target="_blank ">OneNote</a>
                <a data-ng-if="project.document1Link.length " data-ng-href="{{project.document1Link }} " target="_blank ">{{ project.document1Title }}</a>
                <a data-ng-if="project.document2Link.length " data-ng-href="{{project.document2Link }} " target="_blank ">{{ project.document2Title }}</a>
            </div>
            <div class="small-12 columns " data-ng-repeat="component in project.Component " data-ng-if="project.stage === 'Scout'">
                <!-- Scout date under project.title -->
                <span class="component-dates scout">{{ component.startDate}} <span ng-if="component.endDate !=='' ">-</span> {{ component.endDate}}</span>
            </div>
            <div data-ng-if="project.stage === 'Scout'">
                <div class="small-12 large-12 columns ">
                    <!-- Full screen for Scout page only -->
                    <p class="project-text ">{{ project.description }}</p>
                </div>
            </div>
            <div class="small-12 large-6 columns " data-ng-if="project.stage !== 'Scout'">
                <!-- If not Scout, half screen -->
                <p class="project-text ">{{ project.description }}</p>
            </div>
            <!--end project text-->
            <div class="components small-12 large-6 columns" data-ng-if="project.stage !== 'Scout'">
                <!-- Hide components if its a Scout -->
                <div class="row " data-ng-repeat="component in project.Component ">
                    <div class="component-details large-3 columns ">
                        <span class="component-name ">{{ component.componentName }}</span>
                        <span class="component-dates ">{{ component.startDate}} <span ng-if="component.endDate !=='' ">-</span> {{ component.endDate}}</span>
                    </div>
                    <!--end component details-->
                    <div class="component large-9 columns ">
                        <span class="component-percentage component-percentage-{{component.percentage}} " data-ng-style="{ 'left': component.percentage + '%' } ">{{ component.percentage }}%</span>
                        <div class="component-stage ">
                            <div class="component-slider rag-{{ project.ragStatus }} " data-ng-style="{ 'width': component.percentage + '%'} "></div>
                        </div>
                        <!--end component stage-->
                    </div>
                    <!--end component-->
                </div>
                <!--end component row-->
            </div>
            <!--end components-->
        </div>
        <!--end project body-->
        <a class="button btn-edit " data-ng-href="#/edit/{{project.reference}}" data-ng-if="access >= 4">Edit Project</a>
    </div>
    <!--end initial column-->
</div>
<!--end project row-->


<div class="row project-pagination">
    <div class="small-12 columns">
        <label for="noPerPage">Items per page:</label>
        <input type="number" id="noPerPage" min="1" max="100" class="form-control" data-ng-model="pageSize">
        <dir-pagination-controls class="dir-pagination-controls" on-page-change="changePage(newPageNumber)" template-url="js/libs/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
    <!--col-->
</div>
<!--row-->

<div id="exportModal" class="reveal-modal centered" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <h2>Export Data</h2>
    <p class="lead">Please enter a name for your export.</p>

    <div class="row">
        <div class="small-9 small-centered columns">
            <input type="text" class="form-control" data-ng-model="exportCsv">
        </div>
        <div class="small-9 small-centered columns">
            <button ng-csv="csvArray | orderBy:'opCo'| selectedOpCoFilter:filterOpCoArray:'opCo' | selectedFilter:filterStageArray:'stage' | selectedFilter:filterRagArray:'ragStatus' | selectedFilter:filterTypeArray:'type'| selectedFilter:filterStatusArray:'status' | filter:percentageChoice:true | filter:search | dateFilter:dateFrom:dateTo:true"
            filename="{{ exportCsv }}.csv" csv-header="['Title', 'Type', 'Category', 'Description', 'RagStatus', 'OpCo', 'Stage', 'Status', 'StartDate', 'EndDate', 'ProjectRef']" data-ng-click="resetCsv()">Download Export</button>
        </div>
    </div>
    <!--row-->
    <p>Your export will download in CSV format, which you can open in Microsoft Excel to manipulate the data.</p>
</div>
<!-- end export modal -->

<div id="historyModal" class="timeline-modal reveal-modal" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <div class="row collapse">
        <div class="project small-12 columns" data-ng-repeat="historyProject in projectsList | filter:historyStage:true | filter:historyRef:true">
            <div class="heading row">
                <div class="source small-6 medium-3 columns">
                    <span>{{ historyProject.type }}</span>
                </div>
                <!--end source-->
                <div class="opCo medium-3 large-2 columns end " data-ng-class="{ 'small-4': access !==5 , 'small-6': access==5 } ">
                    <div ng-repeat="opco in historyProject.opCo track by $index" class="columns opCos opCo-{{opco.name | removeSpaces}}" style="width: {{100 / historyProject.opCo.length}}%">
                        <img data-ng-src="images/logo-small-{{opco.name | removeSpaces}}.png" />
                    </div>
                </div>
                <!--end opCo-->
                <div class="status small-6 medium-3 columns">
                    {{ historyProject.status }}
                </div>
                <!--end status-->
                <div class="stage small-6 medium-3 bg-{{historyProject.stage | lowercase }} columns">
                    <span data-ng-hide="historyProject.stage === 'Other1' || historyProject.stage === 'Other2' || historyProject.stage === 'Other3'">{{historyProject.stage}}</span><span data-ng-show="historyProject.stage === 'Other1' || historyProject.stage === 'Other2' || historyProject.stage === 'Other3'">Other</span>

                </div>
                <!--end stage-->
                <div class="documents small-12 columns">
                    <a data-ng-href="{{historyProject.oneNote }}" target="_blank" data-ng-if="access >= 3 && historyProject.oneNote.length">OneNote</a>
                    <a data-ng-href="{{historyProject.document1Link }}" target="_blank" data-ng-if="historyProject.document1Link.length">{{ historyProject.document1Title }}</a>
                    <a data-ng-href="{{historyProject.document2Link }}" target="_blank" data-ng-if="historyProject.document2Link.length">{{ historyProject.document2Title }}</a>
                </div>
                <!--end documents-->
            </div>
            <!--end historyProject heading-->
            <div class="body row">
                <div class="small-12 columns">
                    <h2>{{ historyProject.title }}</h2>
                </div>
                <div data-ng-if="historyProject.stage === 'Scout'">
                    <div class="row" data-ng-repeat="component in historyProject.Component">
                        <div class="component-details large-3 columns">
                            <span class="component-dates">{{ component.startDate}} - {{ component.endDate}}</span>
                        </div>
                    </div>
                    <div class="small-12 large-12 columns">
                        <p class="historyProject-text">{{ historyProject.description }}</p>
                    </div>
                </div>
                <div class="small-12 large-9 columns" data-ng-hide="historyProject.stage === 'Scout'">
                    <p class="historyProject-text">{{ historyProject.description }}</p>
                </div>
                <!--end historyProject text-->
                <div class="components small-12 columns" data-ng-hide="historyProject.stage === 'Scout'">
                    <div class="row" data-ng-repeat="component in historyProject.Component">
                        <div class="component-details large-3 columns">
                            <span class="component-name">{{ component.componentName }}</span>
                            <span class="component-dates">{{ component.startDate}} - {{ component.endDate}}</span>
                        </div>
                        <!--end component details 0.9375rem-->
                        <div class="component large-9 columns">
                            <span class="component-percentage component-percentage-{{component.percentage}}" data-ng-style="{'left':  component.percentage + '%'}">{{ component.percentage }}%</span>
                            <div class="component-stage">
                                <div class="component-slider rag-{{ historyProject.ragStatus }}" data-ng-style="{'width': component.percentage +'%'}"></div>
                            </div>
                            <!--end component stage-->
                        </div>
                        <!--end component-->
                    </div>
                    <!--end component row-->
                </div>
                <!--end components-->
            </div>
            <!--end project body-->
            <div class="row">
                <div class="small-12 columns">
                    <a class="button btn-edit" data-ng-href="#/edit/{{historyProject.reference}}" data-ng-if="access >= 4" onclick="closeTimelineModal()">Edit Project</a>
                </div>
            </div>
        </div>
    </div>
    <!--end row-->

</div>
<!-- end export modal -->


<div id="curtain"></div>
<div class="filters">
    <div class="container">
        <div class="row">
            <div class="small-6 columns">
                <h2>Filters</h2>
            </div>
            <div class="small-6 columns">
                <button class="button btn-reset" data-ng-click="resetFilters()">Reset</button>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <h3>Search</h3>
                <input type="text" id="search-scout" data-ng-model="search" placeholder="Search" />
            </div>
            <div class="small-6 columns">
                <h3>Start Date</h3>
                <input type="text" class="datepicker" id="dateFrom" data-ng-model="dateFrom" placeholder="Date from" />
            </div>
            <div class="small-6 columns">
                <h3>End Date</h3>
                <input type="text" class="datepicker" id="dateTo" data-ng-model="dateTo" placeholder="Date to" />
            </div>
            <div class="small-12 columns" data-ng-hide="pageName == 'Scout'">
                <h3>Percentage Complete</h3>
                <div id="slider" class="range-slider" data-slider data-options="display_selector: #sliderOutput; step: 5; initial:0; ">
                    <span class="range-slider-handle" role="slider" tabindex="0">{{ percentageChoice }}</span>
                    <span class="range-slider-active-segment"></span>
                    <input type="hidden">
                </div>
            </div>
        </div>
        <!--row-->
        <!--row-->
        <div class="row">
            <div class="small-12 columns">
                <h3>OpCo</h3>
                <ul class="button-group row collapse opco-filter">
                    <li class="small-12 columns" data-ng-repeat="opco in opcos"><span class="button secondary" data-ng-click="selectOpCoFilter(opco.name)" data-ng-class="{'selected-filter': checkForFilterOn(opco.name)}">{{opco.name}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <!--row-->
        <div class="row" data-ng-hide="access < 3">
            <div class="small-12 columns">
                <h3>Type</h3>
                <ul class="button-group row collapse opco-filter">
                    <li class="small-12 columns" data-ng-repeat="type in types">
                        <span class="button secondary" data-ng-click="selectTypeFilter(type)" data-ng-class="{'selected-filter': checkForFilterOn(type)}">{{type}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <!--row-->
        <div class="row">
            <div class="small-12 columns">
                <h3>RAG Status</h3>
                <ul class="rag-btns button-group row collapse opco-filter">
                    <li class="small-4 columns">
                        <button class="button secondary" data-ng-click="selectRagFilter('Red')" data-ng-class="{'selected-filter': checkForFilterOn('Red')}">Red</button>
                    </li>
                    <li class="small-4 columns">
                        <button class="button secondary" data-ng-click="selectRagFilter('Amber')" data-ng-class="{'selected-filter': checkForFilterOn('Amber')}">Amber</button>
                    </li>
                    <li class="small-4 columns">
                        <button class="button secondary" data-ng-click="selectRagFilter('Green')" data-ng-class="{'selected-filter': checkForFilterOn('Green')}">Green</button>
                    </li>
                </ul>
            </div>
            <div class="small-12 columns" data-ng-hide="pageName !== 'Scout' &&  access <= 2">
                <h3>Status</h3>
                <ul class="button-group opco-filter row collapse">
                    <li class="small-6 columns" data-ng-repeat="status in statuses"><span class="button secondary" data-ng-click="selectStatusFilter(status)" data-ng-class="{'selected-filter': checkForFilterOn(status)}">{{status}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <!--row-->
        <div class="row" data-ng-hide="access < 5">
            <div class="small-12 columns">
                <h3>Stage</h3>
                <ul class="button-group row collapse opco-filter">
                    <li class="small-12 columns"><span class="button secondary" data-ng-click="selectStageFilter('Scout')" data-ng-class="{'selected-filter': checkForFilterOn('Scout')}">Scout</span>
                    </li>
                    <li class="small-12 columns"><span class="button secondary" data-ng-click="selectStageFilter('Alpha')" data-ng-class="{'selected-filter': checkForFilterOn('Alpha')}">Alpha</span>
                    </li>
                    <li class="small-12 columns"><span class="button secondary" data-ng-click="selectStageFilter('Beta')" data-ng-class="{'selected-filter': checkForFilterOn('Beta')}">Beta</span>
                    </li>
                    <li class="small-12 columns"><span class="button secondary" data-ng-click="selectStageFilter('Live')" data-ng-class="{'selected-filter': checkForFilterOn('Live')}">Live</span>
                    </li>
                    <li class="small-12 columns"><span class="button secondary" data-ng-click="selectStageFilter('Other')" data-ng-class="{'selected-filter': checkForFilterOn('Other')}">Other</span>
                    </li>
                </ul>
            </div>
        </div>
        <!--row-->
        <div class="row" data-ng-if="access === 5">
            <div class="small-12 columns">
                <h3>Category</h3>
                <ul class="button-group row collapse opco-filter">
                    <li class="small-12 columns" data-ng-repeat="cat in categories"><span class="button secondary" data-ng-click="selectCategoryFilter(cat.name)" data-ng-class="{'selected-filter': checkForFilterOn(cat.name)}">{{ cat.title }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--end container-->

</div>
<!--end filters-->