<a href="#/Seismograph" class="button btn-back backToSeismograph">Seismograph</a>
<div>
    <h1>Seismograph</h1>
    <p class="learnmore-description">The innovation adoption curve was a way of forecasting when an innovative product or idea moved from early adopters through to a later majority uptake. However, the era of slow adoption of innovation is over. The shark fin we see in the diagram below
        has replaced the traditional innovation curve. This is due to the speed of change made possible by lower cost data and technology. The focus of venture capitalists on ideas that create business model disruptions also supports this.
    </p>
    </br>
    <p class="learnmore-description">Our Seismograph shows the areas we are watching where we expect shark fin disruptions to take place, often seen as very early ripples in the market, which indicate a large disruption is coming. This helps us proactively spot opportunities, which areas
        of change may be worth investing in and to move where appropriate to gain competitive advantage.</p>
    <img src="images/seismographmore.jpg" alt="Seismograph learn more" id="seismographMore" />
</div>
