<h1>Project Stages</h1>
<ul class="stage-descriptions">
    <li class="stage-scout">
        <h2>Scout</h2>
        <p>A short phase, in which we start researching the needs of the business, find out what we should be measuring, and explore tech environment. A digital scout/expert review to bring digital thinking to a business challenge.</p>
    </li>
    <li class="stage-alpha">
        <h2>Alpha</h2>
        <p>A short phase, in which we prototype solutions for the business. We will be testing with a small group of users or stakeholders and getting early feedback about the design of the service.</p>
    </li>
    <li class="stage-beta">
        <h2>Beta</h2>
        <p>Developing for the customer demand with customer inclusion and against the demands of a live environment. Understanding how to build and scale while meeting the business objectives. Also releasing a version to test in public up to 10,000 users.</p>
    </li>
    <li class="stage-live">
        <h2>Live</h2>
        <p>The work doesn't stop once your service is live. We will branch into the live supported IT environment and hand off to business as usual.</p>
    </li>
</ul>