<div id="curtain"></div>
<div class="filters">
    <div class="container">
        <div class="row">
            <div class="small-6 columns">
                <h2>Filters</h2>
            </div>
            <div class="small-6 columns">
                <button class="button btn-reset" data-ng-click="resetFilters()">Reset</button>
            </div>
        </div>
        <div class="row">
            <div class="small-6 columns">
                <h3>Search</h3>
                <input type="text" id="search-scout" data-ng-model="search" placeholder="Search" />
            </div>
            <div class="small-6 columns">
                <h3>Start Date</h3>
                <input type="text" class="datepicker" id="dateFromStakeholder" data-ng-model="dateFrom" placeholder="Date from" />
            </div>
        </div>
        <!--row-->
        <div class="row">
            <div class="small-12 columns">
                <h3>OpCo</h3>
                <ul class="button-group row collapse opco-filter">
                    <li class="small-12 columns" data-ng-repeat="opco in opcos"><span class="button secondary" data-ng-click="selectOpCoFilter(opco.name)" data-ng-class="{'selected-filter': checkForFilterOn(opco.name)}">{{opco.name}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="small-6 columns">
                <h3>Compact?</h3>
                <div class="switch toggle-switch">
                    <input id="exampleCheckboxSwitch" type="checkbox" ng-model="compact">
                    <label for="exampleCheckboxSwitch">Compact?</label>
                </div>
            </div>
        </div>


        <!--row-->
    </div>
    <!--end container-->

</div>
<!--end filters-->
<div id="stakeholder-fixed">
    <!--<div ng-repeat="test in historyModalProject"> {{test.title}}</div>-->
    <h1>Stakeholder Year View - {{currentYear}}</h1>
    <div class="row collapse">
        <div class="small-4 columns">
            <button class="btn-previous-year" data-ng-click="viewPrevYear()">{{ previousYear }}</button>
        </div>
        <div class="small-1 columns text-center stakeholder-key bg-scout">Scout</div>
        <div class="small-1 columns text-center stakeholder-key bg-alpha">Alpha</div>
        <div class="small-1 columns text-center stakeholder-key bg-beta">Beta</div>
        <div class="small-1 columns text-center stakeholder-key bg-live">Live</div>
        <div class="small-4 columns text-right">
            <button class="btn-next-year" data-ng-click="viewNextYear()">{{ nextYear }}</button>
        </div>
    </div>
    <div class="stakeholder-heading">
        <span>Project Details</span>
        <span class="days31">Jan</span>
        <span class="days28">Feb</span>
        <span class="days31">Mar</span>
        <span class="days30">Apr</span>
        <span class="days31">May</span>
        <span class="days30">Jun</span>
        <span class="days31">Jul</span>
        <span class="days31">Aug</span>
        <span class="days30">Sep</span>
        <span class="days31">Oct</span>
        <span class="days30">Nov</span>
        <span class="days31">Dec</span>
    </div>
    <!--end stakeholder heading-->
</div>
<div id="stakeholder-container">
    <div id="month-dividers">
        <div class="days31"></div>
        <div class="days28"></div>
        <div class="days31"></div>
        <div class="days30"></div>
        <div class="days31"></div>
        <div class="days30"></div>
        <div class="days31"></div>
        <div class="days31"></div>
        <div class="days30"></div>
        <div class="days31"></div>
        <div class="days30"></div>
        <div class="days31"></div>
    </div>
    <!--end month dividers-->
    <div id="stakeholder-overlay">
        <div class="stakeholder-projects-container">

            <ul class="tjh-accordion" data-auto-collapse="false" data-auto-open="true">
                <li ng-repeat="cat in categories">
                    <h2 class="tjh-accordion-title">{{ cat.title }}</h2>
                    <div class="tjh-accordion-container">
                        <div class="stakeholder-project" data-ng-repeat="project in filteredStakeholderList | unique:'reference' | orderBy: 'currentProjectTitle' | selectedFilter:filterOpCoArray:'opCo' | filter:search | stakeholderDateFilter:dateFrom | filter:{currentCategory:cat.name} | removeProjectsByYear:currentYear:compact track by $index">
                            <div class="project-details">
                                {{ project.currentProjectTitle }}
                            </div>
                            <!--project details-->

                            <div class="project-components">
                                <div class="toggle-modal timeline-{{ projectButton.stage }} timeline-{{ projectButton.status }} bg-{{ projectButton.stage | lowercase }}" data-ng-repeat="projectButton in filteredStakeholderList | removeHistorical:currentYear | filter:project.reference:true"
                                data-ng-style="{'left': projectButton.startPercentYear + '%', 'right': projectButton.endPercentYear + '%'}" ng-click="historyModal(projectButton)" data-toggle-modal="historyModal"></div>
                                <div class="timeline-line" data-ng-style="{'left': project.stakeholderStart + '%', 'right': project.stakeholderEnd + '%'}"></div>

                            </div>
                            <!--project components-->
                        </div>
                        <!--end stakeholder-project-->
                    </div>
                </li>
            </ul>



        </div>
        <!--end stakeholder projects container-->
    </div>
    <!--end stakeholder-overlay-->
</div>
<!--end stakeholder container-->


<div id="historyModal" class="modal">
    <a class="close-modal close-reveal-modal">&#215;</a>
    <div class="row collapse">
        <div class="project small-12 columns">
            <div class="heading row">
                <div class="source small-6 medium-3 columns">
                    <span>{{ historyProject.type }}</span>
                </div>
                <!--end source-->
                <div class="opCo small-6 medium-3 column " data-ng-class="{ 'small-4': access !==5 , 'small-6': access==5 } ">
                    <div ng-repeat="opco in historyProject.opCo track by $index" class="columns opCos opCo-{{opco.name | removeSpaces}}" ng-style="{'width':100 / historyProject.opCo.length+'%'}">
                        <img data-ng-src="images/logo-small-{{opco.name | removeSpaces}}.png" />
                    </div>

                </div>
                <!--end opCo-->
                <div class="status small-6 medium-3 columns">
                    {{ historyProject.status }}
                </div>
                <!--end status-->
                <div class="stage small-6 medium-3 bg-{{historyProject.stage | lowercase }} columns">
                    <span data-ng-hide="historyProject.stage === 'Other1' || historyProject.stage === 'Other2' || historyProject.stage === 'Other3'">{{historyProject.stage}}</span><span data-ng-show="historyProject.stage === 'Other1' || historyProject.stage === 'Other2' || historyProject.stage === 'Other3'">Other</span>
                </div>
                <!--end stage-->
                <div class="documents small-12 columns">
                    <a data-ng-href="{{historyProject.oneNote }}" target="_blank" data-ng-if="access === 5 && historyProject.oneNote.length">OneNote</a>
                    <a data-ng-href="{{historyProject.document1Link }}" target="_blank" data-ng-if="historyProject.document1Link.length">{{ historyProject.document1Title }}</a>
                    <a data-ng-href="{{historyProject.document2Link }}" target="_blank" data-ng-if="historyProject.document2Link.length">{{ historyProject.document2Title }}</a>
                </div>
                <!--end documents-->
            </div>
            <!--end historyProject heading-->
            <div class="body row">
                <div class="small-12 columns">
                    <h2>{{ historyProject.title }}</h2>
                </div>
                <div data-ng-if="historyProject.stage === 'Scout'">
                    <div class="row" data-ng-repeat="component in historyProject.Component">
                        <div class="component-details large-3 columns">
                            <span class="component-dates">{{ component.startDate}} - {{ component.endDate}}</span>
                        </div>
                    </div>
                    <div class="small-12 large-12 columns">
                        <p class="historyProject-text">{{ historyProject.description }}</p>
                    </div>
                </div>
                <div class="small-12 large-9 columns" data-ng-hide="historyProject.stage === 'Scout'">
                    <p class="historyProject-text">{{ historyProject.description }}</p>
                </div>
                <!--end historyProject text-->
                <div class="components small-12 columns">
                    <div class="row" data-ng-repeat="component in historyProject.Component" data-ng-hide="historyProject.stage === 'Scout'">
                        <div class="component-details large-3 columns">
                            <span class="component-name">{{ component.componentName }}</span>
                            <span class="component-dates">{{ component.startDate}} - {{ component.endDate}}</span>
                        </div>
                        <!--end component details-->
                        <div class="component large-9 columns" data-ng-hide="historyProject.stage === 'Scout'">
                            <span class="component-percentage component-percentage-{{component.percentage}}" data-ng-style="{'left': component.percentage + '%'}">{{ component.percentage }}%</span>
                            <div class="component-stage">
                                <div class="component-slider rag-{{ historyProject.ragStatus }}" data-ng-style="{'width': component.percentage + '%'}"></div>
                            </div>
                            <!--end component stage-->
                        </div>
                        <!--end component-->
                    </div>
                    <!--end component row-->
                </div>
                <!--end components-->
            </div>
            <!--end project body-->
            <div class="row">
                <div class="small-12 columns">
                    <a class="button btn-edit" data-ng-href="#/edit/{{historyProject.reference}}" data-ng-if="access >= 4" onclick="closeModal()">Edit Project</a>
                </div>
            </div>
        </div>
    </div>
    <!--modal header-->
    <div class="modal-footer">
    </div>
    <!--modal header-->
</div>
<!--modal-->
