extends layout

block content
	div.login-container
		img(src='/images/iag-logo-warm-grey.png')
		h1.text-center Digital Business Transformation
		p.text-center Please enter your email address below to be sent a password reset email
		div.account-wall
			#message
				if message
					p #{message}
			form(class='form-signin', action='/forgot', method='POST') 
				label(for='email', class='formLabels') Email
				input(type='email', id='email', name='username', class='form-control', placeholder='Email Address',required, autofocus)
				div.g-recaptcha(data-sitekey="6LdIYAsTAAAAALfx4U90oUR8jZ10ev67DG1Etbr6")
				button(class='btn btn-lg btn-primary btn-block', type='submit') Reset password
				span.clearfix
				p.text-center Know your details? 
					a(href='/login', class='text-center') Log in
		
	p.copyright &copy; 2015 International Airlines Group