doctype html
html
  head
    title= 'IAG Digital Business Transformation'
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/foundation-icons.css')
    link(rel='stylesheet', href='/css/custom.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='apple-mobile-web-app-capable' content='yes')
    script(src='https://www.google.com/recaptcha/api.js')
  body.login
    block content