extends layout

block content

	div.login-container
		img(src='/images/iag-logo-warm-grey.png')
		h1.text-center Digital Business Transformation
		p.text-center Please enter your details, complete the reCAPTCHA and select Sign in to continue
		div.account-wall
			#message
				if message
					p #{message}
			form(class='form-signin', action='/localLogin', method='POST')
				input(type='text', name='username' class='form-control', placeholder='Email Address',required, autofocus)
				input(type='password', name='password' class='form-control', placeholder='Password', required)
				div.g-recaptcha(data-sitekey="6LdIYAsTAAAAALfx4U90oUR8jZ10ev67DG1Etbr6")
				button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
				span.clearfix
			p.text-center Not registered? 
				a(href='/signup', class='text-center new-account') Create an account
				br
				a(href='/forgot') Forgotten password?
				
		
		
		
	p.copyright &copy; 2015 International Airlines Group