doctype html
html
  head
    title= 'IAG Digital Business Transformation'
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/foundation-icons.css')
    link(rel='stylesheet', href='/css/custom.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='apple-mobile-web-app-capable' content='yes')
  body.loginPath
    div.authContainer
        #message
            if message
                p #{message}
        div.row
            div.small-12.columns
                img(src='/images/iag-logo-warm-grey.png', width='250px', class='authLogo')
                h1 Digital Business Transformation
                p Please select your logon method for accessing the Innovations Dashboard. If you do not use BSAFE, please register/login with an Innovations account
        div.authSelect.row
            div.small-6.medium-6.columns
                div.authMethod.ba
                    a(href='/baLogin')
                        p.authHeader BSAFE
                        p.loginLink Login with BSAFE
            div.small-6.medium-6.columns
                div.authMethod.other
                    a(href='/localLogin')
                        p.authHeader Innovations account
                        p.loginLink Login/Register
   