extends layout

block content
	div.login-container
		img(src='/images/iag-logo-warm-grey.png')
		h1.text-center Digital Business Transformation
		p.text-center Please register for an account to be able to access the dashboard. You must use your corporate e-mail
		div.account-wall
			#message
				if message
					p #{message}
			form(class='form-signin', action='/signup', method='POST')
				label(for='email', class='formLabels') Email
				input(type='text', name='username', id='email',class='form-control', placeholder='Email Address',required, autofocus)
				label(for='password',class='formLabels') Password
				input(type='password', name='password', id='password', class='form-control nomargin', placeholder='Password', required)
				label(for='firstName', class='formLabels') Forename
				input(type='text', name='firstName', id='firstName', class='form-control', placeholder='First Name',required)
				label(for='lastName', class='formLabels') Surname
				input(type='text', name='lastName', id='lastName', class='form-control', placeholder='Last Name',required)
				div.g-recaptcha(data-sitekey="6LdIYAsTAAAAALfx4U90oUR8jZ10ev67DG1Etbr6")
				button(class='btn btn-lg btn-primary btn-block', type='submit') Register
				span.clearfix
				p.text-center Already registered? 
					a(href='/login', class='text-center') Log in
		
	p.copyright &copy; 2015 International Airlines Group