/* ///////////////////////////////////////////////////////////
// CUSTOM.CSS
// IAG INNOVATIONS DASHBOARD PROJECT
//
// LAST UPDATED JUNE 2015
// 
// CONTENTS
        1.	Basic HTML styles
        2.	Typography
        3.	Main Elements
        4.	Foundation Overrides
        5.	Button icons
        6.	Filters
        7.	OpCo Colours
        8.	Home.html
        9.	Stages styles
        10.	Edit mode
        11.	Project page
        12.	Project page timeline
        13.	News pages
        14.	Override datepicker styles
        15.	Custom modals
        16.	Accordions for analytics page
        17.	Custom scroll bars
        18.	Sidebar navigation
        19.	Stakeholder page
        20.	Login page
        21.	Events page
        22.	Admin page
        23.	Custom alerts
        24.	Miscellaneous styles
        25.	Media queries for responsive design
//
//
//////////////////////////////////////////////////////////// */


/* /////////////////////////////////////////
//
// Basic HTML Styles
//
/////////////////////////////////////////*/

@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

body {
    color: #53565A;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: inherit;
}

h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small {
    font-size: 0.6em;
    color: #888;
}


/* /////////////////////////////////////////
//
// Typography
//
/////////////////////////////////////////*/

.large {
    font-size: 1.4rem;
}

.largeParagraphs {
    font-size: 1.4em;
}

.small {
    font-size: 0.8em;
}

.date {
    font-style: italic;
}

p.warning {
    color: #CE2029;
    font-weight: bold;
}


/* /////////////////////////////////////////
//
// Main Elements
//
/////////////////////////////////////////*/

#header {
    width: 100%;
    height: 60px;
    padding: 5px 1.5%;
    background-color: #53565A;
    position: fixed;
    top: 0;
    z-index: 222;
}

#logo {
    height: 50px;
}

#signout .fi-arrow-right {
    text-shadow: -2px -2px 0 #53565A, 2px -2px 0 #53565A, -2px 2px 0 #53565A, 2px 2px 0 #53565A;
    position: relative;
    top: 7px;
    left: -7px;
    font-size: 1.8em;
}

#signout .fi-torso {
    font-size: 2.2em;
}

#navigation {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
    font-size: 0.8rem;
}

#navigation li {
    float: left;
    padding: 0 10px;
    color: #fff;
    text-align: center;
    line-height: 3rem;
    margin: 0 10px;
}

#navigation li a {
    color: #fff;
    display: block;
}

#navigation li i {
    font-size: 2rem;
    cursor: pointer;
}

#main-container {
    width: 100%;
    min-height: calc(100% - 60px);
    padding: 1.5%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 60px;
}

.container {
    width: 100%;
    padding: 1.5%;
}

.page-heading {
    width: 100%;
    margin-bottom: 30px;
}

.page-heading h1 {
    display: inline;
}

.page-heading button,
.page-heading .button {
    float: right;
    margin-left: 10px;
}

.page-heading button:before,
[class*='btn-']:before {
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 10px;
}


/* /////////////////////////////////////////
//
// Foundation Overrides
//
/////////////////////////////////////////*/

label {
    cursor: default;
}

label[for] {
    cursor: pointer;
}

select {
    background-color: #fff;
}

button,
.button {
    background-color: #53565A;
    padding-left: 1rem;
    padding-right: 1rem;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    background-color: #53565A;
    outline: none;
}

button.secondary:hover,
button.secondary:focus,
.button.secondary:hover,
.button.secondary:focus {
    background-color: #e7e7e7;
    outline: none;
}

.opco-filter.even-1 > li,
.opco-filter.even-2 > li,
.opco-filter.even-3 > li,
.opco-filter.even-4 > li,
.opco-filter.even-5 > li,
.opco-filter.even-6 > li,
.opco-filter.even-7 > li,
.opco-filter.even-8 > li {
    margin: 0;
}

.range-slider-handle,
.range-slider-handle:hover,
.range-slider-handle:active {
    background: #007c85;
    color: #fff;
    text-align: center;
}

.row {
    max-width: none;
}

.meter {
    text-align: center;
    font-size: 0.8em;
}

.postfix.button {
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #cccccc;
    background-color: #53565A;
    color: #fff;
}

.postfix.button:hover {
    background-color: #007c85;
}

.row.medium-uncollapse > .columns:first-child {
    padding-left: 0;
}

.row.medium-uncollapse > .columns:last-child {
    padding-right: 0;
}

.icon-link {
    font-size: 32px;
}

.reveal-modal-bg {
    position: fixed;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.9);
}

.reveal-modal {
    /*position:fixed;*/
    border-top: 10px solid #007c85;
}

.reveal-modal.centered {
    /*position:fixed;*/
    border-top: 10px solid #007c85;
    text-align: center;
}

.reveal-modal > .row:first-of-type {
    margin-top: 1rem;
}

span.postfix {
    background: #53565A;
    color: #fff;
    border-color: #53565A;
}


/* /////////////////////////////////////////
//
// Button icons
//
/////////////////////////////////////////*/

.btn-confirm-delete {
    background-color: #CE2029;
}

.btn-add:before {
    content: "\f199";
}

.btn-back:before {
    content: "\f10a";
}

.btn-cancel:before,
.btn-delete:before {
    content: "\f217";
}

.btn-download:before {
    content: "\f143";
}

.btn-edit:before {
    content: "\f194";
}

.btn-reset:before {
    content: "\f1a5";
}

.btn-save:before {
    content: "\f1ac";
}

.btn-delete-comp {
    margin: 0 0 0 0.9375rem;
    padding: 0.5rem 0 0.53125rem 0;
    width: 30px;
    text-align: center;
}

.btn-loading {
    background-image: url('/images/loading.gif');
    background-position: center center;
    background-repeat: no-repeat;
}

.btn-previous-year {
    margin-left: 1rem;
}

.btn-previous-year:before {
    border-right: 20px solid #53565A;
    border-top: 1.6625rem solid transparent;
    border-bottom: 1.6625rem solid transparent;
    content: "";
    height: 0;
    left: -1.25rem;
    position: absolute;
    top: 0;
    width: 0;
}

.btn-next-year {
    margin-right: 1rem;
}

.btn-next-year:before {
    border-left: 20px solid #53565A;
    border-top: 1.6625rem solid transparent;
    border-bottom: 1.6625rem solid transparent;
    content: "";
    height: 0;
    right: -1.88rem;
    position: absolute;
    top: 0;
    width: 0;
}

.success.btn-green,
.success.btn-green:hover,
.meter-Green {
    background-color: #00813c !important;
}

.success.btn-amber,
.success.btn-amber:hover,
.meter-Amber {
    background-color: #fcd100 !important;
    color: #000;
}

.success.btn-red,
.success.btn-red:hover,
.meter-Red {
    background-color: #D71F29 !important;
}


/* /////////////////////////////////////////
//
// Filters
//
/////////////////////////////////////////*/

.filters {
    width: 400px;
    height: calc(100% - 60px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 60px;
    right: -400px;
    padding: 20px 0;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-transition: 500ms all ease-in-out;
    transition: 500ms all ease-in-out;
    z-index: 9;
}

.filters.active {
    right: 0;
    border-left: 10px solid #007c85;
}

.filters h3 {
    font-size: 1.5rem;
}

.filters .button-group.row {
    margin: 0;
}

.filters .btn-reset {
    float: right;
}

.opco-filter {
    margin-bottom: 1rem !important;
}

.opco-filter li {
    margin: 0;
    border-bottom: 2px solid #fff;
}

.opco-filter .button {
    margin: 0;
    width: 100%;
}

.opco-filter li span {
    width: 100%;
}

#curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 8;
}

label[for="show-filters"] {
    width: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    color: inherit;
    font-size: inherit;
    height: 100%;
}

#show-filters {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: none;
}

#show-filters:checked ~ .filters {
    height: 500px;
    border-bottom: 10px solid #007c85;
}

#show-filters:checked ~ #curtain {
    display: block;
}

.opco-filter .button.selected-filter,
.opco-filter .button.selected-filter:hover {
    background-color: #007c85;
    color: #fff;
}


/* /////////////////////////////////////////
//
// OpCo Colours
//
/////////////////////////////////////////*/

.rag-Red {
    background-color: #CE2029 !important;
    color: #fff !important;
}

.rag-Amber {
    background-color: #FFBF00 !important;
    color: #000 !important;
}

.rag-Green {
    background-color: #228B22 !important;
    color: #fff !important;
}

.opCo-IAG {
    background-color: #53565A !important;
    color: #fff;
    /*border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff !important;*/
}

.opCo-AerLingus {
    background-color: #008374 !important;
    color: #fff;
    /*border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff !important;*/
}

.opCo-BritishAirways {
    background-color: #021B41 !important;
    color: #fff;
    /*border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff !important;*/
}

.opCo-Iberia {
    background-color: #d7192d !important;
    color: #fff;
    /*border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff !important;*/
}

.opCo-Avios {
    background-color: #1a4177 !important;
    color: #fff;
    /*border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff !important;*/
}

.opCo-IAGCargo {
    background-color: #53001b !important;
    color: #fff;
    /*border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff !important;*/
}

.opCo-Vueling {
    background-color: #fc0 !important;
    /*border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff !important;*/
}

.opCos {
    height: 50px;
    padding-top: 5px;
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.bg-scout {
    background-color: #80689D !important;
}

.bg-alpha {
    background-color: #0070C0 !important;
}

.bg-beta {
    background-color: #F97A1B !important;
}

.bg-live {
    background-color: #92D050 !important;
}

.bg-other,
.bg-other1,
.bg-other2,
.bg-other3 {
    background-color: #53565A !important;
}


/* /////////////////////////////////////////
//
// Home.html
//
/////////////////////////////////////////*/

.tagline {
    text-align: center;
    margin-bottom: 50px;
}

.tagline h1 {
    font-size: 3.25rem;
}

.tagline p {
    font-style: italic;
    font-size: 1.5em;
}

#blogs-carousel {
    height: calc(100% - 1em - 19px);
}

#blogs-carousel .owl-wrapper-outer,
#blogs-carousel .owl-wrapper,
#blogs-carousel .owl-item,
#blogs-carousel li {
    height: 100%;
}

.owl-controls {
    display: none !important;
}

.carousel {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    float: left;
}

.carousel li {
    padding: 0px;
    box-sizing: border-box;
    min-height: 210px;
    overflow: hidden;
}

.news-carousel {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.news-carousel a {
    width: 100%;
    height: 100% !important;
    display: block;
    position: relative;
}

.news-carousel a span {
    display: block;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 1.3rem;
}

#events-carousel {
    height: calc(100% - 2em);
}

#events-carousel li {
    padding: 20px;
    height: 100%;
    cursor: pointer;
}

#events-carousel .event-date {
    text-align: center;
}

#events-carousel .event-date p:first-child {
    font-size: 6rem;
    margin: 0;
    line-height: 1em;
    font-weight: bold;
}

#events-carousel .event-date p:last-child {
    font-size: 2.1rem;
    margin: 1rem 0 0 0;
    line-height: 1em;
    font-weight: bold;
}

#events-carousel .event-details p:first-child {
    font-size: 1.95rem;
    margin-bottom: 5px;
    cursor: pointer;
}

#events-carousel .event-details p:nth-child(2) {
    margin: 0;
    white-space: pre-wrap;
}

.owl-wrapper-outer,
.owl-wrapper,
.owl-item,
.owl-item .row {
    height: 100%;
}

.owl-item .row {
    position: relative;
}

.owl-item > li > .row > .columns {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%)
}

.owl-item > li > .row > .columns:last-child {
    left: 25%;
}

.owl-theme .owl-controls {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
}

.tile {
    width: 100%;
    height: 200px;
    background-color: #F5F5F5;
    /* #ddd */
    margin-bottom: 20px;
    color: #53565A;
    position: relative;
}

.tile-static {
    padding: 20px;
    box-sizing: border-box;
}

.tile a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    box-sizing: border-box;
    position: relative;
}

.tile.hasContent a {
    height: auto;
}

.tile-stage a:first-child {
    height: calc(100% - 34px);
    padding: 0;
}

.tile-events,
.tile-blogs {
    height: 300px;
}

.tile-heading,
.tile-footer {
    text-align: center;
    font-size: 1em;
    width: 100%;
    float: left;
    padding: 5px 20px;
    background-color: #53565A;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.tile .label {
    background-color: #007c85;
    top: -0.125rem;
}

.tile-stage {
    background-color: #fff;
    border: none;
}

.tile-stage a:nth-of-type(2) {
    height: 34px;
}

.tile-duration {
    font-size: 0.9em;
    display: block;
    position: relative;
    z-index: 1;
}

.tile-number {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 5rem;
    line-height: 1;
}

.tile-stage .tile-number {
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    -ms-transform: translate(-50%, -30%);
    -webkit-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
}

.tile-img img {
    position: absolute;
    left: 50%;
    top: calc(50% + 1em);
    max-width: 100px;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.tile-scout .tile-heading,
.tile-scout .tile-footer {
    background-color: #80689D;
    color: #fff;
}

.tile-scout .tile-number {
    color: #80689D;
}

.tile-alpha .tile-heading,
.tile-alpha .tile-footer {
    background-color: #0070C0;
    color: #fff;
}

.tile-alpha .tile-number {
    color: #0070C0;
}

.tile-beta .tile-heading,
.tile-beta .tile-footer {
    background-color: #F97A1B;
    color: #fff;
}

.tile-beta .tile-number {
    color: #F97A1B;
}

.tile-live .tile-heading,
.tile-live .tile-footer {
    background-color: #92D050;
    color: #fff;
}

.tile-live .tile-number {
    color: #92D050;
}

#footer {
    width: calc(100% - 0.9375rem - 0.9375rem);
    padding: 0 0.9375rem;
    font-size: 0.9em;
    color: #fff;
    background-color: #53565A;
}

#footer > .columns {
    box-sizing: border-box;
    padding: 20px;
}

#footer p {
    color: #fff;
}

#footer ul {
    margin: 0;
    padding: 0;
    float: right;
    list-style-type: none;
}

#footer ul li {
    float: left;
    text-align: right;
    margin-left: 20px;
}

#footer a {
    color: inherit;
}

#footer a:hover {
    text-decoration: underline;
}

.tile-StoA {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#80689d+39,0070c0+100 */
    background: #80689d;
    /* Old browsers */
    background: -moz-linear-gradient(left, #80689d 39%, #0070c0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(39%, #80689d), color-stop(100%, #0070c0));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #80689d 39%, #0070c0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #80689d 39%, #0070c0 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #80689d 39%, #0070c0 100%);
    /* IE10+ */
    background: linear-gradient(to right, #80689d 39%, #0070c0 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#80689d', endColorstr='#0070c0', GradientType=1);
    /* IE6-9 */
}

.tile-AtoB {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0070c0+28,f97a1b+100 */
    background: #0070c0;
    /* Old browsers */
    background: -moz-linear-gradient(left, #0070c0 28%, #f97a1b 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(28%, #0070c0), color-stop(100%, #f97a1b));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #0070c0 28%, #f97a1b 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #0070c0 28%, #f97a1b 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #0070c0 28%, #f97a1b 100%);
    /* IE10+ */
    background: linear-gradient(to right, #0070c0 28%, #f97a1b 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0070c0', endColorstr='#f97a1b', GradientType=1);
    /* IE6-9 */
}

.tile-BtoL {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f97a1b+18,92d050+100 */
    background: #f97a1b;
    /* Old browsers */
    background: -moz-linear-gradient(left, #f97a1b 18%, #92d050 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(18%, #f97a1b), color-stop(100%, #92d050));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #f97a1b 18%, #92d050 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #f97a1b 18%, #92d050 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #f97a1b 18%, #92d050 100%);
    /* IE10+ */
    background: linear-gradient(to right, #f97a1b 18%, #92d050 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f97a1b', endColorstr='#92d050', GradientType=1);
    /* IE6-9 */
}

.tile-StoL {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#80689d+14,2989d8+34,f97a1b+69,92d050+100 */
    background: #80689d;
    /* Old browsers */
    background: -moz-linear-gradient(left, #80689d 14%, #2989d8 34%, #f97a1b 69%, #92d050 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(14%, #80689d), color-stop(34%, #2989d8), color-stop(69%, #f97a1b), color-stop(100%, #92d050));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #80689d 14%, #2989d8 34%, #f97a1b 69%, #92d050 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #80689d 14%, #2989d8 34%, #f97a1b 69%, #92d050 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #80689d 14%, #2989d8 34%, #f97a1b 69%, #92d050 100%);
    /* IE10+ */
    background: linear-gradient(to right, #80689d 14%, #2989d8 34%, #f97a1b 69%, #92d050 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#80689d', endColorstr='#92d050', GradientType=1);
    /* IE6-9 */
}


/*/////////////////////////////////////////
//
// Stages styles
//
/////////////////////////////////////////*/

.stage-descriptions {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.stage-descriptions li {
    border-left-width: 5px;
    border-left-style: dotted;
    padding: 20px;
    margin-bottom: 20px;
}

.stage-descriptions li p {
    font-size: 1.4rem;
    margin: 0;
}

.stage-scout {
    border-left-color: #80689D;
}

.stage-alpha {
    border-left-color: #0070C0;
}

.stage-beta {
    border-left-color: #F97A1B;
}

.stage-live {
    border-left-color: #92D050;
}


/* /////////////////////////////////////////
//
// Edit mode
//
/////////////////////////////////////////*/

#alert-editing {
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    background-color: #53565A;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-top: 10px solid #bdbc00;
}

#alert-editing p {
    margin: 10px 0;
}

#alert-editing i {
    font-size: 4rem;
    float: left;
    margin: 0 30px;
}

*[contenteditable "true"] {
    background-color: #fff;
    min-width: 50px;
    display: inline-block;
}

.edit-lock {
    width: 100%;
    margin: 20px 0;
    background-color: #fafafa;
    overflow: hidden;
    border: 1px solid #ccc;
    border-bottom: 3px solid #007c85;
}

.edit-lock i {
    font-size: 2em;
    padding: 15px;
    background-color: #007c85;
    color: #fff;
    margin-right: 20px;
}

.edit-lock p {
    display: inline-block;
    line-height: 3em;
    margin: 0;
}

.edit-view .body.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-view input,
.edit-view textarea {
    margin: 0;
    background-color: #fff;
    min-width: 50px;
    display: inline-block;
    line-height: 1.5;
    color: inherit;
    padding: 5px;
    height: auto;
    font-size: inherit;
    border: none;
}

.edit-view select {
    background-color: transparent;
    color: #fff;
    border: none;
    margin: 0;
}

.edit-view select option {
    background-color: #fff;
    color: #000;
}

.edit-view .sprint-date input {
    min-width: 5rem;
    width: auto;
}

.edit-view .sprint-date span {
    min-width: 30px;
}

.edit-view .rag {
    height: 50px;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 2.5rem;
    background-color: #53565A;
    margin-top: 1rem;
}

.edit-view h2 {
    margin: 0;
}

.edit-view h2 input {
    height: 50px;
    padding: 5px;
}

.edit-view .documents {
    text-align: left;
    padding: 0 0 10px 0;
    height: auto;
}

.edit-view .documents > h3,
.edit-view .components h3 {
    font-size: 1rem;
    font-weight: bold
}

.project-options {
    float: right;
}

.edit-view .comp-percent {
    width: calc(100% - 30px - 0.9375rem);
    float: left;
    min-width: 0;
}

.invalidField {
    box-shadow: 0 0 5px #730039 !important;
}

.columns.invalidField {
    box-shadow: 0 0 10px #730039 !important;
}

.edit-page {
    background-color: yellow;
}


/* /////////////////////////////////////////
//
// Project page
//
/////////////////////////////////////////*/

.project {
    background-color: #ececec;
    margin-bottom: 20px;
    /* padding-bottom: 20px; */
}

.project.edit-view {
    background-color: #B9B9B9;
}

.project .heading .end {
    border-right: none;
}

.stage {
    cursor: pointer;
}

.project .stage a {
    display: block;
    color: inherit;
}

.project .source,
.project .status,
.project .opCo,
.project .stage {
    height: 50px;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 2.5rem;
    border-right: 1px solid #fff;
}

.project .source,
.project .opCo,
.project .status,
.project .stage {
    background-color: #53565A;
}

.project .opCo {
    padding: 0px;
}

.project .status {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff !important;
}

.project .source {
    border-right: 1px solid #ffffff !important;
}

.documents {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 2.5rem;
    text-align: right;
}

.documents a {
    color: #53565A;
    margin-left: 20px;
}

.documents a:before {
    content: "\f183";
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 10px;
}

.project .body h2 {
    font-size: 1.4rem;
    font-weight: bold;
}

.project-text {
    white-space: pre-wrap;
}

.project-title {
    margin-bottom: 0;
}

.components > .row {
    margin-bottom: 10px;
}

.component-details {
    line-height: initial;
}

.component-dates {
    font-size: 0.9rem;
    display: block;
    margin-top: 0.3rem;
}

.component-dates.scout {
    margin: 0;
}

.component-name {
    font-weight: bold;
}

.component {
    position: relative;
}

.component-percentage {
    position: absolute;
    width: 20px;
    margin-left: 1rem;
    font-size: 0.8rem;
    text-align: center;
    z-index: 1;
}

.component-percentage-90,
.component-percentage-95,
.component-percentage-100 {
    left: auto !important;
    right: 30px;
    margin-right: 10px;
}

.component-percentage-90,
.component-percentage-95 {
    color: #000;
}

.component-percentage-100 {
    color: #fff;
}

.component-stage {
    width: 100%;
    height: 20px;
    float: left;
    position: relative;
    background-color: #fff;
}

.component-slider {
    width: 0;
    height: 100%;
    background-color: #53565A;
}

.project-pagination {
    background-color: #eee;
    margin-bottom: 1rem;
    padding: 10px 0;
}

.project-pagination label,
.project-pagination input {
    display: inline;
    width: auto;
    margin: 0;
}

.project-pagination ul {
    list-style-type: none;
    margin: 0;
    padding-top: 0.5rem;
    font-size: 0.875rem;
}

.project-pagination ul li {
    display: inline;
    margin-left: 2px;
}

.project-pagination a {
    padding: 0.25rem 6px;
    border-radius: 3px;
    color: inherit;
}

.project-pagination ul li.active a {
    background-color: #53565A;
    color: #fff;
}

.project h2 {
    margin-top: 1rem;
}


/* /////////////////////////////////////////
//
// Project page timeline
//
/////////////////////////////////////////*/

.timeline {
    position: relative;
    height: 0;
    -webkit-transition: 500ms all ease-in-out;
    transition: 500ms all ease-in-out;
    overflow: hidden;
}

.timeline.visible {
    height: 51px;
}

.timeline.hidden .timeline-line {
    border: none;
}

.timeline-Active:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-left: 10px solid #ececec;
    position: absolute;
    top: 0;
    left: 0;
}

.timeline-Active:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-right: 10px solid #ececec;
    position: absolute;
    top: 0;
    right: 0;
}

.timeline-Predicted.bg-scout {
    background-color: #ccc2d7 !important;
}

.timeline-Predicted.bg-alpha {
    background-color: #99c5e5 !important;
}

.timeline-Predicted.bg-beta {
    background-color: #fcc9a3 !important;
}

.timeline-Predicted.bg-live {
    background-color: #d3ecb9 !important;
}

.timeline-Predicted.bg-other,
.timeline-Predicted.bg-other1,
.timeline-Predicted.bg-other2,
.timeline-Predicted.bg-other3 {
    background-color: #B9BCC0 !important;
}

.timeline-rule {
    width: 33.333%;
    border-top: 2px dotted #007c85;
    position: absolute;
    top: 24px;
    z-index: 0;
}

.timeline .button {
    width: 14.28571428571429%;
    position: absolute !important;
    margin: 0;
}

.timeline .button:hover {
    background-color: #007c85;
}

.timeline .button:first-of-type {
    left: 0;
    right: auto !important;
}

.timeline .button:last-of-type {
    right: 0;
}

.timeline-3 .button:nth-child(2) {
    left: 42.857142857142857142857142857143%;
}

.timeline-4 .button:nth-child(2) {
    left: 28.571428571428571428571428571429%;
}

.timeline-4 .button:nth-child(3) {
    left: 57.142857142857142857142857142857%;
}

.timeline-5 .button:nth-child(2) {
    left: 21.428571428571428571428571428571%;
}

.timeline-5 .button:nth-child(3) {
    left: 42.857142857142857142857142857143%;
}

.timeline-5 .button:nth-child(4) {
    left: 64.285714285714285714285714285714%;
}

.timeline-6 .button:nth-child(2) {
    left: 17.142857142857142857142857142857%;
}

.timeline-6 .button:nth-child(3) {
    left: 34.285714285714285714285714285714%;
}

.timeline-6 .button:nth-child(4) {
    left: 51.428571428571428571428571428571%;
}

.timeline-6 .button:nth-child(5) {
    left: 68.571428571428571428571428571429%;
}

.timeline-7 .button {
    position: relative !important;
    float: left;
}

.timeline-line {
    border-top: 2px solid #53565A;
    position: absolute;
    top: calc(50% - 1px);
}

.timeline-1 .timeline-line {
    display: none;
}

.timeline-2 .timeline-line {
    width: 71.428571428571428571428571428571%;
    left: 14.285714285714285714285714285714%;
}

.timeline-3 .timeline-line {
    width: 28.571428571428571428571428571429%;
}

.timeline-3 .timeline-line:nth-of-type(1) {
    left: 14.285714285714285714285714285714%;
}

.timeline-3 .timeline-line:nth-of-type(2) {
    left: 57.142857142857142857142857142858%;
}

.timeline-3 .timeline-line:nth-of-type(3),
.timeline-3 .timeline-line:nth-of-type(4),
.timeline-3 .timeline-line:nth-of-type(5),
.timeline-3 .timeline-line:nth-of-type(6) {
    display: none;
}

.timeline-4 .timeline-line {
    width: 14.285714285714285714285714285714%;
}

.timeline-4 .timeline-line:nth-of-type(1) {
    left: 14.285714285714285714285714285714%;
}

.timeline-4 .timeline-line:nth-of-type(2) {
    left: 42.857142857142857142857142857143%;
}

.timeline-4 .timeline-line:nth-of-type(3) {
    left: 71.428571428571428571428571428571%;
}

.timeline-4 .timeline-line:nth-of-type(4),
.timeline-4 .timeline-line:nth-of-type(5),
.timeline-4 .timeline-line:nth-of-type(6) {
    display: none;
}

.timeline-5 .timeline-line {
    width: 7.1428571428571428571428571428571%;
}

.timeline-5 .timeline-line:nth-of-type(1) {
    left: 14.285714285714285714285714285714%;
}

.timeline-5 .timeline-line:nth-of-type(2) {
    left: 35.714285714285714285714285714286%;
}

.timeline-5 .timeline-line:nth-of-type(3) {
    left: 57.142857142857142857142857142857%;
}

.timeline-5 .timeline-line:nth-of-type(4) {
    left: 78.571428571428571428571428571429%;
}

.timeline-5 .timeline-line:nth-of-type(5),
.timeline-5 .timeline-line:nth-of-type(6) {
    display: none;
}

.timeline-6 .timeline-line {
    width: 2.8571428571428571428571428571428%;
}

.timeline-6 .timeline-line:nth-of-type(1) {
    left: 14.285714285714285714285714285714%;
}

.timeline-6 .timeline-line:nth-of-type(2) {
    left: 31.428571428571428571428571428571%;
}

.timeline-6 .timeline-line:nth-of-type(3) {
    left: 48.571428571428571428571428571428%;
}

.timeline-6 .timeline-line:nth-of-type(4) {
    left: 65.714285714285714285714285714285%;
}

.timeline-6 .timeline-line:nth-of-type(5) {
    left: 82.857142857142857142857142857142%;
}

.timeline-6 .timeline-line:nth-of-type(6) {
    display: none;
}

.timeline-modal h1 {
    font-size: 1.8rem;
    margin-bottom: 26px;
}


/*/////////////////////////////////////////
//
// News pages
//
/////////////////////////////////////////*/

.news-container {
    width: 98%;
    max-width: 1200px;
    margin: auto;
}

.news-container a.button {
    color: #fff;
    position: absolute;
    top: 50px;
    left: 50px;
}

.news-container p {
    text-align: justify;
}

.news-container a {
    color: inherit;
}

.twitter h1 {
    font-size: 1.4rem;
}

.twitter-handle {
    width: 20%;
    float: left;
    padding: 10px 10px 0 10px;
    text-align: center;
}

.twitter-handle p {
    text-align: center;
    margin: 0 auto;
}

.twitter-handle img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: auto auto 15px auto;
    display: block;
}

.twitter-handle a {
    color: #007c85;
    text-decoration: underline;
}

.news-featured,
.news-secondary {
    margin-bottom: 2rem;
}

.news-featured h3,
.news-secondary h3 {
    margin-top: 1rem;
}

.news-archive .row {
    margin-top: 1rem;
}

.news-archive h3 {
    font-size: 1.3rem;
}

.news-article img {
    width: 100%;
    max-width: 1200px;
    float: left;
}

.news-content {
    width: 60%;
    background-color: #fff;
    position: relative;
    min-height: 300px;
    box-sizing: border-box;
    padding: 20px;
    float: left;
}

.article-sidebar {
    width: 40%;
    padding: 20px;
    float: right;
}

.article-options {
    float: right;
    margin-top: 20px;
}

.article-options button {
    float: right;
    clear: none;
    margin-left: 20px;
}

.news-article video {
    width: 100%;
    height: 100%;
}

#viewEvent,
#addEventForm {
    background-color: #F5F5F5;
    padding-top: 1rem;
    margin-left: 0;
    margin-bottom: 1rem;
}

#viewEvent p {
    white-space: pre-wrap;
}

#addEventForm input.datepicker {
    width: calc(60% - 20px);
    margin: 0 20px 1rem 0;
    float: left;
}

#addEventForm input.time {
    width: 40%;
    margin: 0 0 1rem 0;
}

.cke:first-of-type {
    margin-bottom: 1rem;
}

.news-pagination-numbers {
    text-align: right;
}

.news-pagination-numbers p {
    float: right;
    margin: 0;
    line-height: 3.5rem;
}

.news-pagination-numbers input {
    width: auto;
    display: inline;
    margin: 0 0 0 1rem;
}

.news-pagination ul {
    margin-top: 3rem;
    overflow: hidden;
    width: auto;
    float: left;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

.news-pagination li {
    display: inline;
    padding: 10px;
    margin: 0 4px;
}

.news-pagination ul li.active {
    background-color: #53565A;
    color: #fff;
    border-radius: 3px;
}

.events-key {
    padding: 0 1em 1em 1em;
}

.newArticle {
    background-color: #c8000e;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
}


/*/////////////////////////////////////////
//
// Override datepicker styles
//
/////////////////////////////////////////*/

.ui-widget-content {
    color: #53565A;
    border-color: #53565A;
    background: #fff;
    /*E4DED7*/
}

.ui-widget-content table,
.ui-widget-content thead,
.ui-widget-content tr {
    background: #fff !important;
}

.ui-widget-content table {
    border: none;
}

.ui-widget-header {
    background: #53565A;
    color: #fff;
    border-color: #53565A;
}

.ui-state-default {
    color: #007c85 !important;
}

table.ui-datepicker-calendar > tbody > tr td .ui-state-hover {
    border: 1px solid #007c85;
    background: #cce4e6;
}

.ui-datepicker-prev.ui-state-hover,
.ui-datepicker-next.ui-state-hover {
    border: none !important;
    background: #53565A !important;
}

.ui-state-hover .ui-icon {
    background-image: url("images/ui-icons_ffffff_256x240.png") !important;
    background-position: -80px -192px;
}

.ui-state-hover .ui-icon.ui-icon-circle-triangle-e {
    background-image: url("images/ui-icons_ffffff_256x240.png") !important;
    background-position: -48px -192px;
}

.ui-state-highlight,
.ui-state-active {
    background: #007c85 !important;
    border-color: #007c85 !important;
    color: #fff !important;
}

.ui-datepicker-today > a {
    background-color: #53565A !important;
    border-color: #53565A;
}


/*/////////////////////////////////////////
//
// Custom modals
//
/////////////////////////////////////////*/

.delete-modal {
    text-align: center;
    border-top-color: #CE2029;
    min-width: 20em;
}

.delete-modal p {
    color: #CE2029;
    font-weight: bold;
    font-size: 1.3em;
}

.delete-modal .btn-delete {
    background-color: #CE2029;
    color: #fff;
}

.modal {
    border-top: 10px solid #007c85;
    width: 80%;
    max-width: 62.5rem;
    padding: 1.875rem;
    min-height: 400px;
    max-height: 90%;
    position: fixed;
    top: -100%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: auto;
    -webkit-transition: 500ms all ease-in-out;
    transition: 500ms all ease-in-out;
    box-shadow: 0 0 44px #000;
}

.modal.large {
    width: 90%;
    max-width: 1200px;
}

.modal.small {
    width: 400px;
    min-height: 200px;
}

.modal-header h2 {
    width: calc(100% - 50px);
}

.reveal-modal .close-reveal-modal {
    z-index: 9;
}

.close-modal {
    float: right;
    font-size: 2.5rem;
    position: absolute;
    top: -10px;
    /* was 20px */
    right: 5px;
    /*was 20px */
    cursor: pointer;
    color: #AAAAAA;
    font-weight: bold;
    z-index: 9;
}

.close-modal:hover {
    color: #AAAAAA;
}

.modal-body {
    padding: 20px 0;
    min-height: 200px;
}

.modal.reveal {
    top: 50%;
}

.curtain {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.curtain-modal {
    z-index: 998;
}


/*/////////////////////////////////////////
//
// Accordions - used on analytics
//
/////////////////////////////////////////*/

.tjh-accordion {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tjh-accordion li {
    margin: 0 0 10px 0;
    /* border: 1px solid #9A9FA6; */
}

.tjh-accordion-title {
    background-color: #f2f2f2;
    font-size: 1rem;
    margin: 0;
    padding: 1rem 20px;
    cursor: pointer;
    display: block;
    line-height: 1.4rem;
    color: #53565A;
}

.tjh-accordion-title span {
    font-size: 1.4rem;
    padding-right: 20px;
    border-right: 1px solid #9A9FA6;
    margin-right: 20px;
}

.tjh-accordion-container {
    width: 100%;
    padding: 20px;
    overflow: hidden;
}

.tjh-accordion.active li > .tjh-accordion-container {
    padding: 20px;
    height: auto;
    display: initial;
}


/*/////////////////////////////////////////
//
// Custom scroll bars for navigation and filters
//
/////////////////////////////////////////*/

.filters::-webkit-scrollbar,
#sidebar-menu-container::-webkit-scrollbar {
    background-color: #53565A;
    width: 8px;
}

.filters::-webkit-scrollbar-button,
#sidebar-menu-container::-webkit-scrollbar-button {
    background-color: #D4DCE6;
    height: 0;
}

.filters::-webkit-scrollbar-track,
#sidebar-menu-container::-webkit-scrollbar-track {
    background-color: blue;
}

.filters::-webkit-scrollbar-track-piece,
#sidebar-menu-container::-webkit-scrollbar-track-piece {
    background-color: #53565A;
    box-shadow: 0 0 4px #3B3E40 inset;
}

.filters::-webkit-scrollbar-corner,
#sidebar-menu-container::-webkit-scrollbar-corner {
    background-color: fuscia;
}

.filters::-webkit-scrollbar-thumb,
#sidebar-menu-container::-webkit-scrollbar-thumb {
    background-color: #5F6267;
}

.filters:hover::-webkit-scrollbar-thumb,
#sidebar-menu-container:hover::-webkit-scrollbar-thumb {
    background-color: #9A9FA6;
}


/*/////////////////////////////////////////
//
// Sidebar navigation
//
/////////////////////////////////////////*/

#sidebar-menu {
    position: fixed;
    top: 60px;
    left: -350px;
    height: calc(100% - 60px);
    z-index: 10;
    background-color: #3B3E40;
    background-image: url('/images/login.jpg');
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    width: 350px;
    overflow: hidden;
    color: #fff;
    -webkit-transition: 500ms all linear;
    transition: 500ms all linear;
    -webkit-overflow-scrolling: touch;
}

#sidebar-menu-container {
    width: 100%;
    height: 100%;
    background-color: rgba(59, 62, 64, 0.8);
    overflow: auto;
}

#sidebar-menu.active {
    transform: translateX(350px) translateZ(0);
    -webkit-transform: translateX(350px) translateZ(0);
}

#sidebar-menu ul {
    margin: 0 0 2rem 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

#sidebar-menu li {
    -webkit-user-select: none;
}

#sidebar-menu a {
    color: inherit;
    display: block;
    padding: 1rem;
}

#sidebar-menu h2 {
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

#close-nav {
    float: right;
    cursor: pointer;
}


/*/////////////////////////////////////////
//
// Stakeholder page
//
/////////////////////////////////////////*/

#stakeholder-fixed {
    position: fixed;
    width: 97%;
    z-index: 2;
    background-color: #fff;
    left: 1.5%;
    top: 60px;
    padding-top: 1.5%;
    transition: all 500ms linear;
}

#stakeholder-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 179px;
}

#month-dividers {
    width: calc(100% - 390px);
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 0
}

#month-dividers div {
    float: left;
    height: 100%;
    position: relative;
}

.stakeholder-heading .days31 {
    width: calc(((100% - 390px)/365) * 31);
}

.stakeholder-heading .days30 {
    width: calc(((100% - 390px)/365) * 30);
}

.stakeholder-heading .days28 {
    width: calc(((100% - 390px)/365) * 28);
}

#month-dividers .days31 {
    width: 8.4931506849315068493150684931507%;
}

#month-dividers .days30 {
    width: 8.2191780821917808219178082191781%;
}

#month-dividers .days28 {
    width: 7.6712328767123287671232876712329%;
}

#month-dividers div:nth-of-type(even) {
    background-color: #f5f5f5;
}

#month-dividers div:nth-of-type(odd) {
    background-color: #fff;
}

#stakeholder-overlay {
    position: relative;
    z-index: 1;
    padding-bottom: 3px;
}

.stakeholder-heading {
    font-weight: bold;
    text-align: center;
    background-color: #53565A;
    color: #fff;
    overflow: hidden;
    width: 100%;
    z-index: 3;
}

.stakeholder-heading span {
    float: left;
    padding: 5px;
}

.stakeholder-heading span:first-of-type {
    width: 390px;
    text-align: left;
}

.stakeholder-project {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.stakeholder-project .project-details {
    width: 390px;
    padding: 8px;
    float: left;
    border-right: 3px solid #53565A;
}

.stakeholder-project .project-components {
    width: calc(100% - 390px);
    float: left;
    position: relative;
}

.project-components > div {
    display: inline-block;
    height: 2em;
    position: absolute;
    top: 4px;
    cursor: pointer;
}

.stakeholder-project .project-components .timeline-Active:before {
    border-top: 1rem solid transparent !important;
    border-bottom: 1rem solid transparent !important;
    border-left: 6px solid #ececec !important;
}

.stakeholder-project .project-components .timeline-Active:after {
    border-top: 1rem solid transparent !important;
    border-bottom: 1rem solid transparent !important;
    border-right: 6px solid #ececec !important;
}

.stakeholder-project .timeline-line {
    top: 1.2rem;
    left: 0;
    right: 0;
    z-index: -1;
}

.stakeholder-key {
    line-height: 2rem;
    color: #fff;
    margin-top: 0.5rem;
}


/*/////////////////////////////////////////
//
// Login page
//
/////////////////////////////////////////*/

body.login {
    background-color: #53565A;
    background-image: url('/images/login.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

body.login p.copyright {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    color: #fff;
    font-weight: bold;
    font-size: 0.9rem;
}

.login-container {
    width: 90%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: rgba(83, 86, 90, 0.5);
    border-radius: 5px;
    padding: 20px;
    color: #f0ebe8;
}

.login-container img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
}

.login-container h1 {
    font-size: 2rem;
    color: #f0ebe8;
}

.account-wall {
    text-align: center;
}

.account-wall a {
    color: inherit;
    text-decoration: underline;
}

.account-wall input {
    border: none;
    border-radius: 3px;
}

.account-wall button {
    background-color: #f0ebe8;
    color: #53565A;
}

.login #message p {
    background-color: #ee1903;
    color: #fff;
}

body.login .alert-info {
    background-color: #ee1903;
    padding: 5px;
    font-size: 1rem;
    color: #fff;
}

body.login .alert-info i {
    margin: 0 10px;
}

.formLabels {
    text-align: left;
    color: #ffffff;
}


/*/////////////////////////////////////////
//
// Events page
//
/////////////////////////////////////////*/

.fc-event.cat-leave {
    background-color: #ffff99;
    border-color: #ffff99;
    color: #000;
}

.fc-event.cat-conf {
    background-color: #800080;
    border-color: #800080;
}

.fc-event.cat-dbt {
    background-color: lightblue;
    border-color: lightblue;
    color: #000;
}

.fc-event.cat-deadline {
    background-color: #ff6666;
    border-color: #ff6666;
}

.fc-event.cat-stakeholder {
    background-color: #b9e9c9;
    border-color: #b9e9c9;
    color: #000;
}

.fc-event.cat-internal {
    background-color: #D891EF;
    border-color: #D891EF;
}

.fc-event {
    cursor: pointer;
}

.event-cat-gray {
    /*opacity: 0.5;*/
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


/*/////////////////////////////////////////
//
// Admin page
//
/////////////////////////////////////////*/

.admin-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.admin-row.row,
.admin-header.row {
    margin-left: 0;
    margin-right: 0;
}

.admin-row:last-of-type {
    border-bottom: 2px solid #53565A;
}

.admin-header > .columns {
    background-color: #53565A;
    color: #fff;
}

.admin-header > div,
.admin-row > div {
    padding: 0.46875rem 0.9375rem;
}

.admin-row:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.admin-users-container {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 2px solid #53565A;
}

.admin-users-container .admin-row:last-of-type {
    border-bottom: none;
}

.admin-section {
    margin-bottom: 2rem;
}

.admin-section h2 {
    font-size: 1.5rem;
}

.admin-row input {
    margin: 0;
}

.admin-section a {
    color: inherit;
}

#user-permissions-search {
    margin: 0;
    background-color: #f2f2f2;
}

#user-access label {
    display: inline-block;
    margin-right: 1rem;
}

#user-access label input {
    margin-right: 0.25rem;
}

.admin-section a[href=""] {
    text-decoration: line-through;
}

#accessPermissions table {
    width: 100%;
}

#accessPermissions td,
#accessPermissions th {
    text-align: center;
}

#accessPermissions td:first-of-type,
#accessPermissions th:first-of-type {
    text-align: left;
}

#accessPermissions .fi-x {
    color: red;
}

#accessPermissions .fi-check,
#accessPermissions .fi-star {
    color: green;
}

.add-user {
    text-align: right;
}

.add-user > .button {
    text-decoration: none !important;
    color: #fff;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

#add-email-form {
    margin-top: 1em;
}

#add-email-form button {
    float: right;
}

.accessLevels.row {
    margin-top: 1em;
}

#siteStats,
#siteStats > svg {
    width: 100%;
}


/*/////////////////////////////////////////
//
// Custom alerts
//
/////////////////////////////////////////*/

#alert-changePassword {
    opacity: 0;
    display: none;
}

#alert-changePassword.active {
    display: block;
    -webkit-animation-name: toggleAlert;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-name: toggleAlert;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#alert-addUser {
    opacity: 0;
    display: none;
}

#alert-addUser.active {
    display: block;
    -webkit-animation-name: toggleAlert;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-name: toggleAlert;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes toggleAlert {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes toggleAlert {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.alert-box.alert {
    border-color: #730039;
    background-color: #730039;
}


/*/////////////////////////////////////////
//
// Miscellaneous styles
//
/////////////////////////////////////////*/

.helpVideo {
    width: 100%;
    text-align: center;
}

.helpVideo video{
    width: 100%;
    height: 100%;
}

.styleAsLink {
    cursor: pointer;
}

.center {
    text-align: center;
}

.goldenrules {
    padding: 20px;
    text-align: center;
    list-style-type: none;
    font-size: 1.8rem;
    cursor: pointer;
}

.catapults {
    text-align: left;
    list-style-type: none;
    font-size: 1.25rem;
    margin-top: 10px;
    margin: 0;
}

.catapults li {
    margin-top: 10px;
}

.goldenrules li {
    margin-bottom: 1.4rem;
}

img#humanAPI,
img#listeningPost {
    width: 100%;
    max-width: 1080px;
    display: block;
    margin: auto;
}

img#innovationTool {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: auto;
}

img#seismographMore {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: auto;
}

.seismograph-learnmore {
    color: #008CBA !important;
}

.learnmore-description {
    font-size: 1.25rem;
    margin: 0;
}

.backToSeismograph {
    float: right;
}

.show-for-sr {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

.text-right {
    text-align: right;
}

.dir-pagination-controls {
    float: right;
}


/* devServer class turns header blue. For use on the dev server only for differentiation. #devNotice and .devStage temporary classes for the development notice inside the navigation menu */

.devServer #header {
    background-color: #005c9b;
}

#devNotice {
    background-color: #fff;
    padding: 10px;
    color: #000;
    overflow: hidden;
}

.devStage {
    padding: 20px 25px;
    font-size: 2rem;
    border-radius: 50%;
    background-color: #007c85;
    color: #fff;
    line-height: 1;
    float: left;
    margin-right: 10px;
    font-weight: bold;
    margin-top: 0.75rem;
}

#devNotice p {
    float: right;
    width: calc(100% - 2rem - 50px);
    text-align: justify;
    margin: 0;
}

.project-cat-select.row {
    margin-top: 0.2rem;
}

.project-cat-select label {
    padding: 0.5625rem 0;
}

.project-cat-select select {
    background-color: #fff;
    color: #000;
}

.stakeholder-projects-container .tjh-accordion li {
    margin-bottom: 2px;
    border: none;
}

.stakeholder-projects-container .tjh-accordion li.active {
    margin-bottom: 0;
}

.stakeholder-projects-container .tjh-accordion-title {
    background-color: #53565A;
    color: #fff;
    display: inline-block;
    padding: 10px 5px;
    width: 390px;
}

.stakeholder-projects-container li .tjh-accordion-title::before {
    content: "\003e";
    margin-right: 10px;
    font-weight: bold;
}

.stakeholder-projects-container li.active .tjh-accordion-title::before {
    content: "\2228";
    margin-right: 10px;
    font-weight: bold;
}

.stakeholder-projects-container .tjh-accordion-container {
    width: 100%;
    padding: 0;
    height: auto;
    overflow: hidden;
}

.stakeholder-projects-container .tjh-accordion.active li > .stakeholder-projects-container .tjh-accordion-container {
    padding: 0;
    height: auto;
    display: initial;
}

.tjh-accordion[data-auto-open="false"] .tjh-accordion-container {
    display: none;
}

.tjh-accordion[data-auto-open="true"] .tjh-accordion-container {
    display: block;
}

.loginPath {
    background-color: #53565A;
}

.loginPath .authContainer {
    width: 90%;
    max-width: 1020px;
    margin: auto;
    color: #fff;
    padding-top: 100px;
}

.loginPath .authMethod {
    width: 100%;
    height: 200px;
    background-color: #fff;
    position: relative;
    margin-top: 30px;
}

.authMethod.ba {
    background-color: #A19A9A;
    color: #ffffff;
}

.authMethod.ib {
    background: #d7192c;
    background: -moz-linear-gradient(top, #d7192c 0%, #d7192c 50%, #a90e1f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7192c), color-stop(50%, #d7192c), color-stop(100%, #a90e1f));
    background: -webkit-linear-gradient(top, #d7192c 0%, #d7192c 50%, #a90e1f 100%);
    background: -o-linear-gradient(top, #d7192c 0%, #d7192c 50%, #a90e1f 100%);
    background: -ms-linear-gradient(top, #d7192c 0%, #d7192c 50%, #a90e1f 100%);
    background: linear-gradient(to bottom, #d7192c 0%, #d7192c 50%, #a90e1f 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d7192c', endColorstr='#a90e1f', GradientType=0);
    color: #fcd100;
    cursor: no-drop !important;
}

.authMethod.other {
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0%, #fff 50%, #d2d2d2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d7192c), color-stop(50%, #fff), color-stop(100%, #d2d2d2));
    background: -webkit-linear-gradient(top, #fff 0%, #fff 50%, #d2d2d2 100%);
    background: -o-linear-gradient(top, #fff 0%, #fff 50%, #d2d2d2 100%);
    background: -ms-linear-gradient(top, #fff 0%, #fff 50%, #d2d2d2 100%);
    background: linear-gradient(to bottom, #fff 0%, #fff 50%, #d2d2d2 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d7192c', endColorstr='#d2d2d2', GradientType=0);
    color: #53565A;
}

.authLogo {
    margin-bottom: 40px;
    margin-left: -20px;
}

.authMethod a,
.authMethod a:hover,
.authMethod a:active,
.authMethod a:visited {
    display: block;
    color: inherit;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.authHeader {
    font-size: 1.4em;
}

.authMethod .loginLink {
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin: 0;
}

.authMethod .ibNoSelect {
    cursor: no-drop;
}

.loginPath #message p {
    background-color: #ee1903;
    color: #fff;
    padding: 5px;
}

.multiSelect > button {
    width: 100%;
    height: 50px;
    font-size: 0.9em;
    background-color: #53565A;
    background-image: none;
    color: #ffffff;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 0px;
    border-right: 1px solid #ffffff;
}

.multiSelect .multiSelectItem {
    padding: 0;
}

.multiSelect > button:hover {
    background-color: #53565A;
    background-image: none;
    border: none;
    border-radius: 0px;
    border-right: 1px solid #ffffff;
}

.multiSelect .multiSelectItem:not(.multiSelectGroup).selected {
    border: none;
    background-image: none;
}

.multiSelect .multiSelectItem:hover,
.multiSelect .multiSelectGroup:hover {
    background-image: none;
    background-color: #5B9DD9;
}

.g-recaptcha {
    margin-left: 85px;
}

.boldCatapult {
    font-weight: bold;
}


/*//////////////////////////////////////////////////////////////////////////////////
//
// Media Queries (in addition to Foundation's)
//
//////////////////////////////////////////////////////////////////////////////////*/


/* xsmall only */

@media only screen and (max-width: 30em) {
    body.login {
        background-image: none;
    }
    .login-container {
        width: 100%;
        position: static;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
    }
    body.login p.copyright {
        position: static;
        transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        left: 0;
        text-align: center;
        border-top: 2px solid #fff;
        padding: 10px 0;
        margin: 1em 20px;
    }
    #header {
        height: 50px;
    }
    #logo {
        height: 40px;
    }
    #versionNo,
    #contactLink {
        display: none;
    }
    #navigation li {
        margin: 0 5px;
        line-height: 2.5rem;
    }
    #main-container {
        padding: 1%;
    }
    #sidebar-menu {
        left: -30em;
        width: 100%;
        height: calc(100% - 50px);
        top: 50px;
        background-image: none;
    }
    #sidebar-menu.active {
        transform: translateX(30em) translateZ(0);
        -webkit-transform: translateX(30em) translateZ(0);
        -moz-transform: translateX(30em) translateZ(0);
    }
    #signout {
        display: none !important;
    }
    .tagline {
        margin: 20px 0;
    }
    .tagline h1 {
        font-size: 1.4rem;
    }
    .tagline p {
        display: none;
    }
    .tile {
        height: 150px;
        margin-bottom: 15px;
    }
    .tile-scout,
    .tile-alpha,
    .tile-beta,
    .tile-live {
        height: 100px;
    }
    .tile-stage .tile-number {
        font-size: 3rem;
        -ms-transform: translate(-50%, 15%);
        -webkit-transform: translate(-50%, 15%);
        transform: translate(-50%, 15%);
    }
    .tile-img img {
        max-width: 65px;
        -ms-transform: translate(-50%, -30%);
        -webkit-transform: translate(-50%, -30%);
        transform: translate(-50%, -30%);
    }
    .owl-item > li > .row > .columns {
        position: static;
        top: 0;
        transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
    }
    .tile-events,
    .tile-blogs {
        height: 200px;
    }
    .tile .tile-footer {
        display: none;
    }
    #events-carousel .event-date {
        text-align: left;
    }
    #events-carousel .event-date p:first-child {
        font-size: 1.3rem;
        margin: 0;
        display: inline;
    }
    #events-carousel .event-date p:last-child {
        font-size: 1.3rem;
        margin: 0;
        display: inline;
    }
    #events-carousel .event-details p:first-child {
        font-size: 1rem;
    }
    #events-carousel .event-details p:nth-child(2) {
        display: none;
    }
    .carousel li {
        min-height: 165px;
    }
    .news-carousel a span {
        font-size: 1rem;
    }
    .project-pagination {
        text-align: center;
    }
    .project-pagination .dir-pagination-controls {
        margin: auto;
        float: none;
    }
    .timeline-line {
        display: none;
    }
    .timeline .button {
        width: 100% !important;
        position: static !important;
    }
    .timeline.visible {
        min-height: 51px;
        height: auto;
    }
    #footer p {
        margin: 0;
        font-size: 0.75rem;
        text-align: center;
    }
    .page-heading {
        margin-bottom: 20px;
    }
    .admin-header.row {
        margin-top: 1rem;
    }
    .documents,
    #addEventForm {
        display: none;
    }
    .btn-add,
    .btn-download,
    .btn-edit,
    .btn-delete {
        display: none;
    }
    .newsTeaser {
        display: none;
    }
    .goldenrules {
        font-size: 1rem;
        text-align: left;
        padding: 0;
        margin: 0;
    }
    .filters {
        width: 100%;
        top: 50px;
        height: calc(100% - 50px);
        right: -30em;
    }
    .filters.active {
        border: none;
    }
    .tjh-accordion-container table {
        width: 100%;
    }
    .news-container a.button {
        top: 15px;
        left: 20px;
    }
    .news-content {
        min-height: 0;
    }
    .hide-for-xsmall {
        display: none !important;
    }
    .xsmall-pull-0 {
        position: relative;
        right: 0%;
        left: auto;
    }
    .xsmall-push-1 {
        position: relative;
        left: 8.33333%;
        right: auto;
    }
    .xsmall-pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto;
    }
    .xsmall-push-3 {
        position: relative;
        left: 25%;
        right: auto;
    }
    .xsmall-pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto;
    }
    .xsmall-push-5 {
        position: relative;
        left: 41.66667%;
        right: auto;
    }
    .xsmall-pull-6 {
        position: relative;
        right: 50%;
        left: auto;
    }
    .xsmall-push-7 {
        position: relative;
        left: 58.33333%;
        right: auto;
    }
    .xsmall-pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto;
    }
    .xsmall-push-9 {
        position: relative;
        left: 75%;
        right: auto;
    }
    .xsmall-pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto;
    }
    .xsmall-push-11 {
        position: relative;
        left: 91.66667%;
        right: auto;
    }
    .column,
    .columns {
        position: relative;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        float: left;
    }
    .xsmall-1 {
        width: 8.33333%;
    }
    .xsmall-2 {
        width: 16.66667%;
    }
    .xsmall-3 {
        width: 25%;
    }
    .xsmall-4 {
        width: 33.33333%;
    }
    .xsmall-5 {
        width: 41.66667%;
    }
    .xsmall-6 {
        width: 50%;
    }
    .xsmall-7 {
        width: 58.33333%;
    }
    .xsmall-8 {
        width: 66.66667%;
    }
    .xsmall-9 {
        width: 75%;
    }
    .xsmall-10 {
        width: 83.33333%;
    }
    .xsmall-11 {
        width: 91.66667%;
    }
    .xsmall-12 {
        width: 100%;
    }
    .xsmall-offset-0 {
        margin-left: 0% !important;
    }
    .xsmall-offset-1 {
        margin-left: 8.33333% !important;
    }
    .xsmall-offset-2 {
        margin-left: 16.66667% !important;
    }
    .xsmall-offset-3 {
        margin-left: 25% !important;
    }
    .xsmall-offset-4 {
        margin-left: 33.33333% !important;
    }
    .xsmall-offset-5 {
        margin-left: 41.66667% !important;
    }
    .xsmall-offset-6 {
        margin-left: 50% !important;
    }
    .xsmall-offset-7 {
        margin-left: 58.33333% !important;
    }
    .xsmall-offset-8 {
        margin-left: 66.66667% !important;
    }
    .xsmall-offset-9 {
        margin-left: 75% !important;
    }
    .xsmall-offset-10 {
        margin-left: 83.33333% !important;
    }
    .xsmall-offset-11 {
        margin-left: 91.66667% !important;
    }
    .xsmall-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left;
    }
    .column.xsmall-centered,
    .columns.xsmall-centered {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .column.xsmall-uncentered,
    .columns.xsmall-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left;
    }
    .column.xsmall-centered:last-child,
    .columns.xsmall-centered:last-child {
        float: none;
    }
    .column.xsmall-uncentered:last-child,
    .columns.xsmall-uncentered:last-child {
        float: left;
    }
    .column.xsmall-uncentered.opposite,
    .columns.xsmall-uncentered.opposite {
        float: right;
    }
    .row.xsmall-collapse > .column,
    .row.xsmall-collapse > .columns {
        padding-left: 0;
        padding-right: 0;
    }
    .row.xsmall-collapse .row {
        margin-left: 0;
        margin-right: 0;
    }
    .row.xsmall-uncollapse > .column,
    .row.xsmall-uncollapse > .columns {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        float: left;
    }
    .loginPath .authContainer {
        padding-top: 10px;
    }
    .loginPath .authContainer p {
        font-size: 0.7em;
    }
    .largeParagraphs {
        font-size: 0.9em;
    }
    .goldenrules {
        text-align: center;
        list-style-type: none;
        font-size: 0.8em;
    }
    .fc button {
        height: 1.8em;
        font-size: 0.9em;
    }
    .learnmore-description,
    .catapults {
        font-size: 0.7em;
    }
    .small-5 {
        width: 50%;
    }
    .g-recaptcha {
        margin-left: 0px;
    }
    #navigation li i {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 23em) {
    .fc button {
        height: 1.8em;
        font-size: 0.7em;
    }
    .large {
        font-size: 1.2em;
    }
}

@media only screen and (max-device-width: 640px) and (orientation: landscape) {
    li#versionNo {
        display: none;
    }
}


/* iPad only */

@media only screen and (max-width: 48em) {
    .largeParagraphs {
        font-size: 1em;
    }
    .learnmore-description,
    .catapults {
        font-size: 0.9em;
    }
}


/* small only */

@media only screen and (max-width: 40em) {
    .article-options {
        top: auto !important;
    }
    .news-content {
        top: 0;
    }
    .news-archive img,
    .news-archive p {
        display: none;
    }
}


/* Medium screens */

@media only screen and (min-width: 40.063em) {
    .news-content {
        top: -200px;
        min-height: 200px;
    }
    .article-sidebar {
        position: relative;
        top: -200px;
    }
    .tile-number {
        font-size: 4rem;
    }
    .login-container img {
        max-width: 250px;
    }
    .form-signin button {
        padding: 10px;
    }
}


/* min-width 641px and max-width 1024px, small and medium screens  and (min-width: 40.063em)*/

@media only screen and (max-width: 64em) {
    #footer ul {
        width: auto;
        float: right;
        clear: left;
    }
    #footer ul li {
        width: auto;
        margin-left: 20px;
    }
    .component-details {
        margin-bottom: 10px;
    }
    .news-content,
    .article-sidebar {
        width: 100%;
        max-width: 650px;
        float: left;
    }
    #viewEvent,
    #addEventForm {
        margin: 0 0 1rem 0;
    }
    .show-for-large-up {
        display: none;
    }
    .largeParagraphs {
        font-size: 1em;
    }
    img#innovationTool {
        max-width: 550px;
    }
    img#humanAPI,
    img#listeningPost {
        max-width: 650px;
    }
    .learnmore-description,
    .catapults {
        font-size: 0.9em;
    }
    img#seismographMore {
        max-width: 700px;
    }
    .goldenrules {
        text-align: center;
        list-style-type: none;
        font-size: 1em;
    }
}


/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) {
    .show-for-large-up {
        display: inherit !important;
    }
    .article-sidebar {
        position: static;
    }
    .pilots-list .columns:nth-child(3n+1),
    .prototype-list .columns:nth-child(3n+1) {
        padding-left: 0;
    }
    .pilots-list .columns:nth-child(3n+2),
    .prototype-list .columns:nth-child(3n+2) {
        padding-left: 0.46875rem;
        padding-right: 0.46875rem;
    }
    .pilots-list .columns:nth-child(3n+3),
    .prototype-list .columns:nth-child(3n+3) {
        padding-right: 0;
    }
    .filters .button:not(.btn-reset) {
        padding: 0.8rem 0.5rem 0.8625rem 0.5rem;
    }
    .project-text p {
        margin-bottom: 0;
    }
    .timeline .button .show-for-large-up {
        display: inline !important;
    }
    .timeline.visible {
        height: 36px;
    }
    .timeline .button {
        padding-top: 0.5rem;
        padding-bottom: 0.5625rem;
        margin: 0;
    }
    .timeline-Active:before {
        border-top: 18px solid transparent !important;
        border-bottom: 18px solid transparent !important;
        border-left: 10px solid #ececec !important;
    }
    .timeline-Active:after {
        border-top: 18px solid transparent !important;
        border-bottom: 18px solid transparent !important;
        border-right: 10px solid #ececec !important;
    }
    .tile-number {
        font-size: 5rem;
    }
}


/* extra large screens (originally 90.063em) */

@media only screen and (min-width: 105em) {
    .row.designThinking {
        width: 49%;
        float: left;
    }
    .row.designThinking:nth-of-type(odd) {
        margin-right: 2%;
    }
}

@media print {
    @page {}
    * {
        background-color: initial !important;
        color: initial !important;
        font-size: 11pt !important;
    }
    #main-container {
        position: static;
    }
    #header,
    .filters,
    .btn-previous-year,
    .btn-next-year {
        display: none;
    }
    .stakeholder-key {
        margin: 0;
        width: 150px;
        float: left;
        color: #fff;
    }
    #stakeholder-fixed {
        position: static;
        padding-top: 0;
    }
    #stakeholder-fixed h1 {
        display: inline-block;
        float: left;
    }
    #stakeholder-fixed .row {
        width: auto;
        float: right;
    }
    #stakeholder-container {
        position: relative;
        margin-top: 0;
        width: 97%;
    }
    .stakeholder-heading,
    .stakeholder-heading span {
        background-color: #53565A !important;
        color: #fff !important;
    }
    .stakeholder-projects-container .tjh-accordion-title {
        background-color: #53565A !important;
        color: #fff !important;
    }
    .stakeholder-projects-container .tjh-accordion > li {
        margin-bottom: 0 !important;
    }
    #month-dividers div:nth-of-type(even) {
        background-color: #f5f5f5 !important;
    }
    .timeline-Active:before {
        left: -1px;
    }
    .timeline-Active:after {
        right: -1px;
    }
}