<!DOCTYPE html>
<html lang="en" data-ng-app="AdminDashboard">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>IAG Innovations Dashboard</title>

    <!-- Stylesheets -->
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/foundation.css" rel="stylesheet">
    <link href="css/foundation-icons.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <script src="/js/libs/vendor/modernizr.js"></script>
    <script src="/js/libs/jquery-2.1.3.min.js"></script>
    <script src="/js/libs/vendor/fastclick.js"></script>
    <script type="text/javascript" src="js/libs/foundation/foundation.min.js"></script>




</head>

<body data-ng-controller="AdminController">
    <div data-ng-include="'includes/navigation.html'"></div>

    <div id="main-container">
        <h1>Site administration</h1>


        <div class="admin-section row">
            <div class="small-12 columns">
                <div class="row">
                    <div class="xsmall-12 small-4 columns">
                        <h2>User access</h2>
                    </div>
                    <!--col-->
                    <div class="small-4 columns add-user hide-for-xsmall">
                        <a href="" class="toggle-modal button" data-toggle-modal="accessPermissions">View permissions</a>
                        <a href="" class="toggle-modal button btn-add" data-ng-click="addNewUserModalOpen()" data-toggle-modal="addUser">Add user</a>
                    </div>
                    <div class="xsmall-12 small-4 columns">
                        <div class="row collapse">
                            <div class="small-9 large-10 columns">
                                <input type="text" id="user-permissions-search" class="form-control" placeholder="Search by username" data-ng-model="searchUsers.$" />
                            </div>
                            <div class="small-3 large-2 columns">
                                <span class="postfix"><i class="fi-magnifying-glass"></i></span>
                            </div>
                        </div>
                    </div>
                    <!--col-->
                </div>
                <!--row-->
                <div class="admin-header row">
                    <div class="small-3 columns show-for-large-up">
                        Full name
                    </div>
                    <!--col-->
                    <div class="xsmall-6 small-3 columns">
                        Username
                    </div>
                    <!--col-->
                    <div class="xsmall-6 small-7 large-4 columns">
                        Access level
                    </div>
                    <!--col-->
                    <div class="small-2 columns hide-for-xsmall">
                        Delete
                    </div>
                    <!--col-->
                </div>
                <!--row-->
                <div class="admin-users-container">
                    <div class="admin-row row" data-ng-repeat=" user in userPermissions | filter: searchUsers:strict | orderBy: 'username'">
                        <div class="small-3 columns show-for-large-up">
                            {{ user.firstName }} {{user.lastName }}
                        </div>
                        <!--col-->
                        <div class="xsmall-11 small-3 columns">
                            {{ user.username }}
                        </div>
                        <!--col-->
                        <div class="xsmall-1 small-7 large-4 columns">
                            <form id="user-access" data-ng-if="user.username !== 'Admin'">
                                <label data-ng-class="{'hide-for-xsmall': user.Accesss !== 0}">
                                    <input type="radio" class="hide-for-xsmall" data-ng-click="user.Access = 0; changeAccessLevel(user, 0)" data-ng-model="user.Access" value="0">No access</label>
                                <label data-ng-class="{'hide-for-xsmall': user.Access !== 1}">
                                    <input type="radio" class="hide-for-xsmall" data-ng-click="user.Access = 1; changeAccessLevel(user, 1)" data-ng-model="user.Access" value="1">1</label>
                                <label data-ng-class="{'hide-for-xsmall': user.Access !== 2}">
                                    <input type="radio" class="hide-for-xsmall" data-ng-click="user.Access = 2; changeAccessLevel(user, 2)" data-ng-model="user.Access" value="2">2</label>
                                <label data-ng-class="{'hide-for-xsmall': user.Access !== 3}">
                                    <input type="radio" class="hide-for-xsmall" data-ng-click="user.Access = 3; changeAccessLevel(user, 3)" data-ng-model="user.Access" value="3">3</label>
                                <label data-ng-class="{'hide-for-xsmall': user.Access !== 4}">
                                    <input type="radio" class="hide-for-xsmall" data-ng-click="user.Access = 4; changeAccessLevel(user, 4)" data-ng-model="user.Access" value="4">4</label>
                                <label data-ng-class="{'hide-for-xsmall': user.Access !== 5}">
                                    <input type="radio" class="hide-for-xsmall" data-ng-click="user.Access = 5; changeAccessLevel(user, 5)" data-ng-model="user.Access" value="5">5</label>
                            </form>
                        </div>
                        <!--col-->
                        <div class="small-2 columns hide-for-xsmall">
                            <span class="styleAsLink" data-ng-if="user.username !== 'Admin'" data-ng-click="confirmDeleteUser('user', user)"><i class="fi-trash"></i> Delete</span>
                        </div>
                        <!--col-->
                    </div>
                    <!--row-->
                </div>
                <!--admin users container-->
                <div class="accessLevels row text-center small">
                    <div class="xsmall-12 small-4 medium-2 columns">0 - Not confirmed email</div>
                    <div class="xsmall-12 small-4 medium-2 columns">1 - Public (no access)</div>
                    <div class="xsmall-12 small-4 medium-2 columns">2 - OpCo</div>
                    <div class="xsmall-12 small-4 medium-2 columns">3 - Stakeholders</div>
                    <div class="xsmall-12 small-4 medium-2 columns">4 - Inner Circle</div>
                    <div class="xsmall-12 small-4 medium-2 columns">5 - DBT Team</div>
                </div>
            </div>
            <!--col-->
        </div>
        <!--row-->
        <div class="row" data-equalizer>
            <div class="admin-section small-12 medium-8 columns">
                <h2>Email domains</h2>
                <p>Restrict which email accounts can be used to register for the Dashboard</p>
                <div class="admin-header row">
                    <div class="xsmall-6 small-5 columns">
                        OpCo name
                    </div>
                    <!--col-->
                    <div class="xsmall-6 small-5 columns">
                        Email domain
                    </div>
                    <!--col-->
                    <div class="small-2 columns hide-for-xsmall">
                        Delete
                    </div>
                    <!--col-->
                </div>
                <!--row-->
                <div class="admin-users-container">
                    <div class="admin-row row" data-ng-repeat="emailDomain in emailDomainList">
                        <div class="xsmall-6 small-5 columns">
                            {{ emailDomain.name}}
                        </div>
                        <!--col-->
                        <div class="xsmall-6 small-5 columns">
                            {{ emailDomain.domain}}
                        </div>
                        <!--col-->
                        <div class="small-2 columns hide-for-xsmall">
                            <span class="styleAsLink" data-ng-click="confirmDeleteDomain(emailDomain._id)"><i class="fi-trash"></i> Delete</span>
                        </div>
                        <!--col-->
                    </div>
                    <!--row-->
                </div>

            </div>
            <!--col-->
            <div class="admin-section small-12 medium-4 columns hide-for-xsmall">
                <h2>Add OpCo domain</h2>
                <p>Enable registration from a new domain</p>
                <div class="admin-header row">
                    <div class="small-12 columns">
                        Add OpCo domain
                    </div>
                </div>
                <form id="add-email-form">
                    <label for="email-name">OpCo Name</label>
                    <input type="text" id="email-name" placeholder="OpCo name" data-ng-model="newEmailDomin.name">
                    <label for="email-domain">OpCo Domain</label>
                    <div class="input-icon">
                        <input type="text" id="email-domain" placeholder="OpCo domain" data-ng-model="newEmailDomin.domain">
                    </div>
                    <button class="btn-add" data-ng-click="addEmailDomain()">Add</button>
                </form>
            </div>
            <div class="admin-section small-12 medium-6 columns hide-for-xsmall" data-ng-hide="mobile">
                <h2>Backup ( not available in IE)
        </h2>
                <p>Create a backup of the dashboard. Downloads as .json filetype</p>
                <div class="admin-header row">
                    <div class="small-8 columns">
                        Data
                    </div>
                    <!--col-->
                    <div class="small-4 columns">
                        Backup
                    </div>
                    <!--col-->
                </div>
                <!--row-->
                <div class="admin-row row">
                    <div class="small-8 columns">
                        Projects
                    </div>
                    <!--col-->
                    <div class="small-4 columns">
                        <a href="" id="projectsBackup"><i class="fi-download"></i> Backup</a>
                    </div>
                    <!--col-->
                </div>
                <!--row-->
                <div class="admin-row row">
                    <div class="small-8 columns">
                        Events
                    </div>
                    <!--col-->
                    <div class="small-4 columns">
                        <a href="" id="eventsBackup"><i class="fi-download"></i> Backup</a>
                    </div>
                    <!--col-->
                </div>
                <!--row-->
                <div class="admin-row row">
                    <div class="small-8 columns">
                        News
                    </div>
                    <!--col-->
                    <div class="small-4 columns">
                        <a href="" id="newsBackup"><i class="fi-download"></i> Backup</a>
                    </div>
                    <!--col-->
                </div>
                <!--row-->
            </div>
            <!--col-->
            <div class="admin-section small-12 medium-6 columns hide-for-xsmall" data-ng-hide="mobile">
                <h2>Restore</h2>
                <p>Restore the dashboard by uploading a .json file</p>
                <div class="admin-header row">
                    <div class="small-8 large-4 columns">
                        Data
                    </div>
                    <!--col-->
                    <div class="small-4 large-8 columns">
                        Restore
                    </div>
                    <!--col-->
                </div>
                <!--row-->
                <div class="admin-row row">
                    <div class="small-8 large-4 columns">
                        Projects
                    </div>
                    <!--col-->
                    <div class="small-4 large-8 columns">
                        <input type="file" class="form-control" onchange="handleFiles(this.files, 'projectsRestore')" data-accept=".json" />
                    </div>
                    <!--col-->
                </div>
                <!--row-->
                <div class="admin-row row">
                    <div class="small-8 large-4 columns">
                        Events
                    </div>
                    <!--col-->
                    <div class="small-4 large-8 columns">
                        <input type="file" class="form-control" onchange="handleFiles(this.files, 'eventsRestore')" data-accept=".json" />
                    </div>
                    <!--col-->
                </div>
                <!--row-->
                <div class="admin-row row">
                    <div class="small-8 large-4 columns">
                        News
                    </div>
                    <!--col-->
                    <div class="small-4 large-8 columns">
                        <input type="file" class="form-control" onchange="handleFiles(this.files, 'newsRestore')" data-accept=".json" />
                    </div>
                    <!--col-->
                </div>
                <!--row-->
            </div>
            <!--col-->

        </div>


        <div id="modalConfirmDeleteUser" class="reveal-modal tiny delete-modal" data-reveal>
            <p>Confirm delete?</p>
            <button class="btn-delete" data-ng-click="deleteUser(itemToDelete)">Delete</button>
            <button data-ng-click="closeDeleteModal()">Cancel</button>
            <a class="close-reveal-modal">&#215;</a>
        </div>

        <div id="modalConfirmDeleteDomain" class="reveal-modal tiny delete-modal" data-reveal>
            <p>Confirm delete?</p>
            <button class="btn-delete" data-ng-click="deleteDomain(itemToDelete)">Delete</button>
            <button data-ng-click="closeDeleteDomainModal()">Cancel</button>
            <a class="close-reveal-modal">&#215;</a>
        </div>


        <div id="addUser" class="modal">
            <h2>Add User</h2>
            <a href="" class="close-modal close-reveal-modal">&#215;</a>
            <div class="row collapse">
                <div class="small-12 columns">
                    <div id="alert-addUser" data-alert class="alert-box alert" tabindex="0" aria-live="assertive" data-role="dialogalert">
                        {{ addUserAlert }}
                    </div>
                    <form name="form" class="css-form" novalidate>
                        <label for="user-fname">First Name</label>
                        <input data-ng-class="{'invalidField': firstNameInvalid}" type="text" id="user-fname" data-ng-model="addUser.firstName" placeholder="First Name" />
                        <label for="user-lastName">Surname</label>
                        <input data-ng-class="{'invalidField': lastNameInvalid}" type="text" id="user-lastName" data-ng-model="addUser.lastName" placeholder="Last Name" />
                        <label for="user-opco">OpCo</label>
                        <select data-ng-class="{'invalidField': opcoInvalid}" data-ng-model="addUser.OpCo" id="user-opco">
                            <option data-ng-repeat="opco in emailDomainList" value="{{opco.name}}">{{opco.name}}</option>
                        </select>
                        <label for="user-username">Username</label>
                        <input data-ng-class="{'invalidField': usernameInvalid}" type="text" id="user-username" data-ng-model="addUser.username" placeholder="Username" />
                        <label for="user-password">Password</label>
                        <input data-ng-class="{'invalidField': passwordInvalid}" type="password" id="user-password" data-ng-model="addUser.password" placeholder="Password" />
                        <label>Access Level</label>
                        <div class="row">
                            <div class="small-2 columns">
                                <label>
                                    <input type="radio" data-ng-model="addUser.Access" value="1" /> 1</label>
                            </div>
                            <div class="small-2 columns">
                                <label>
                                    <input type="radio" data-ng-model="addUser.Access" value="2" /> 2</label>
                            </div>
                            <div class="small-2 columns">
                                <label>
                                    <input type="radio" data-ng-model="addUser.Access" value="3" /> 3</label>
                            </div>
                            <div class="small-2 columns">
                                <label>
                                    <input type="radio" data-ng-model="addUser.Access" value="4" /> 4</label>
                            </div>
                            <div class="small-2 columns end">
                                <label>
                                    <input type="radio" data-ng-model="addUser.Access" value="5" /> 5</label>
                            </div>
                        </div>
                        <button data-ng-click="addNewUser(addUser)">Add</button>
                    </form>
                </div>
                <!--col-->
            </div>
            <!--row-->
        </div>
        <!--modal-->

        <div id="accessPermissions" class="modal">
            <h2>View access permissions</h2>
            <a href="" class="close-modal close-reveal-modal">&#215;</a>
            <p>The table below shows which access levels can view pages on the Dashboard.</p>
            <div class="row collapse">
                <div class="small-12 columns">
                    <table>
                        <tr>
                            <th>Page</th>
                            <th>Level 0</th>
                            <th>Level 1</th>
                            <th>Level 2</th>
                            <th>Level 3</th>
                            <th>Level 4</th>
                            <th>Level 5</th>
                        </tr>
                        <tr>
                            <td>Homepage (with tiles)</td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>S/A/B/L</td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-star"></i>
                            </td>
                            <td><i class="fi-star"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Other</td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-star"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Events *</td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>*</td>
                            <td><i class="fi-check"></i>*</td>
                            <td><i class="fi-star"></i>*</td>
                        </tr>
                        <tr>
                            <td>Seismograph</td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-star"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>On The Wire</td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-star"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Catapult</td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-star"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Innovation Tool</td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Listening Post</td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Golden Rules</td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Admin</td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-star"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Stakeholder</td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>Analytics</td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>My Profile</td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-x"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                            <td><i class="fi-check"></i>
                            </td>
                        </tr>
                    </table>
                    <div class="row text-center" style="margin-bottom:1em">
                        <div class="small-4 columns"><i class="fi-x"></i> No access</div>
                        <div class="small-4 columns"><i class="fi-check"></i> Read only</div>
                        <div class="small-4 columns"><i class="fi-star"></i> Admin access</div>
                    </div>
                    <p class="small">* access level 3+ can view Stakeholder events. Access level 5 can view Leave, DBT Team Activity and Deadline events</p>
                </div>
                <!--col-->
            </div>
            <!--row-->
        </div>
        <!--modal-->

    </div>

    <script>
        $(document).foundation();

        // always make sure it is https
        if (window.location.protocol != "https:") {
            window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
        }
    </script>



    <!-- Include all compiled plugins (below), or include individual files as needed -->



    <script type="text/javascript" src="js/libs/angular.min.js"></script>
    <script type="text/javascript" src="admin.js"></script>

    <script type="text/javascript" src="js/libs/socket.io.min.js"></script>



    <!-- Angular Controllers -->

    <!-- foundation -->




    <script type="text/javascript" src="js/functions.js"></script>

    <script type="text/javascript">
        var socket = io();
    </script>

</body>

</html>