<div id="header">
    <a href="/#/home">
        <img src="images/iag-logo.png" id="logo" alt="IAG International Airlines Group" data-interchange="[images/iag-logo.png, (medium)], [images/iag-logo-min.png, (small-only)]" />
    </a>

    <ul id="navigation">
        <!--<li id="versionNo">v1.1.1 beta</li>-->
        <li id="hamburger" data-ng-hide="access <= 1">
            <i class="fi-list"></i> <span class="show-for-sr">Menu</span>
        </li>
        <li class="filter-btn" data-ng-hide="hideFilterButton === true" data-ng-click="fixSlider()">
            <i class="fi-filter"></i> <span class="show-for-sr">Filter</span>
        </li>
        <li id="contactLink" ng-if="mobile == true">
            <a href="mailto:iagdigital@iairgroup.com">
                <i class="fi-mail"></i> <span class="show-for-sr">Contact</span>
            </a>
        </li>
        <li id="contactLink" ng-if="mobile !== true">
            <a href="mailto:iagdigital@iairgroup.com">
                <i class="fi-mail" data-reveal-id="mailModal"></i> <span class="show-for-sr">Contact</span>
            </a>
        </li>
        <li>
            <a data-reveal-id="helpModal"> <i class="fi-info"></i></a>
        </li>
        <li id="signout">
            <a href="/signout"><i class="fi-torso"></i><i class="fi-arrow-right"></i><span class="show-for-sr">Sign out</span></a>
        </li>
    </ul>
</div>
<!--end header-->


<!--end main container-->
<div id="sidebar-menu">
    <div id="sidebar-menu-container" data-ng-if="access >= 2">
        <!--<div id="devNotice">
                <span class="devStage">&beta;</span>
                <p>The Dashboard is currently in <strong>Beta version {{ version }}</strong> and as a result features may be altered without notice</p>
            </div>-->
        <h2>Menu
                <i id="close-nav" class="fi-x"></i>
            </h2>
        <ul>
            <li><a href="/#/">Home</a>
            </li>
            <li class="bg-scout"><a href="/#/projects/Scout">Scout</a>
            </li>
            <li class="bg-alpha"><a href="/#/projects/Alpha">Alpha</a>
            </li>
            <li class="bg-beta"><a href="/#/projects/Beta">Beta</a>
            </li>
            <li class="bg-live"><a href="/#/projects/Live">Live</a>
            </li>
            <li class="bg-other" data-ng-if="access == 5"><a href="/#/projects/Other">Other</a>
            </li>
            <li class="hide-for-small-only"><a href="/#/Events">Events</a>
            </li>
            <li><a href="/#/Seismograph">Seismograph</a>
            </li>
            <li><a href="/#/Wire">On the Wire</a>
            </li>
            <li><a href="/#/Catapult">Catapult</a>
            </li>
            <li><a href="/#/innovationTool">Innovation Tool</a>
            </li>
            <li><a href="/#/listeningPost">Listening Post</a>
            </li>
            <li><a href="/#/goldenRules">Golden Rules</a>
            </li>
            <li data-ng-if="access === 5"><a href="/admin">Admin</a>
            </li>
            <li class="hide-for-small-only" data-ng-if="access >= 3"><a href="/#/stakeholder">Stakeholder</a>
            </li>
            <li class="hide-for-small-only" data-ng-if="access >= 3"><a href="/#/analytics">Analytics</a>
            </li>
            <li><a data-reveal-id="helpModal">Help</a>
            </li>
            <li><a href="/#/profile">My Profile</a>
            </li>
            <li>
                <a href="/signout">Sign out</a>
            </li>
        </ul>
        <p class="copyright text-center small">&copy; 2015 IAG</p>
    </div>
    <!--container-->
</div>
<!--end sidebar menu-->

<div id="mailModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Contact us</h2>
    <p> If an email window hasn't launched you can contact us at iagdigital@iairgroup.com</p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>